<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="http://db.onlinewebfonts.com/c/447315c0c330fd423c8e1cc18024669d?family=AvertaStd-Bold" rel="stylesheet" type="text/css" />
    <link href="http://db.onlinewebfonts.com/c/1064f0ad1cb65fdab43bb592ddd8aa91?family=Gilroy-Bold" rel="stylesheet" type="text/css" />
    <link href="http://db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header-div-6">
                <div class="row">
                    <div class="col-md-9">
                        <div class="title-404 mb-27 text-center">404</div>
                    </div>
                    <div class="col-md-7">
                        <div class="desc-404 text-gray2">Oops, it seems we hit a bump in the road! The truck you're searching for might have hit a flat tire. Our team is working diligently to get things rolling smoothly again.<br><br> Meanwhile, let's steer you back to the main road
                            of DispatchProX's services or return to our homepage. If you need assistance, we're here to help you navigate through any roadblocks.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>