<app-dashboard-top-header-driver *ngIf="!this.from_list" [is_dashboard]="false" [header_text]="'Request'"></app-dashboard-top-header-driver>
<div class="ticket-div" *ngIf="!loading_details && (!this.ticket_detail || !this.ticket_detail?.id)">
    <div class="d-flex justify-content-center mb-23" *ngIf="!this.from_list">
        Tickets details not found
    </div>
</div>

<div class="ticket-div" *ngIf="loading_details && (!this.ticket_detail || !this.ticket_detail?.id)">
    <div class="d-flex justify-content-center mb-23" *ngIf="!this.from_list">
       <h4>
        Fetching details...
       </h4>
    </div>
</div>
<div class="ticket-div" *ngIf="this.ticket_detail && this.ticket_detail?.id">
    <div class="d-flex justify-content-center mb-23">
        <div class="title-7">Ticket ID</div>
        <div class="title-8 ml-7">{{this.ticket_detail?.ticket?.ticket_no}}</div>
    </div>
    <ul style="margin-left:1px;padding-left: 15px;" class="nav nav-tabs  justify-content-between ticket-tabs mb-36 row">
      
        <li class="col-xs-6 col-6 {{this.active_tab=='ticket-detail'? 'active':''}}">
            <a data-toggle="tab" href="#ticketdetails" (click)="setActiveTab('ticket-detail')">
                <img src="../assets/driver-images-mobile/confirmation_number.png" alt="">
                <div class="ml-17">Ticket details</div>
            </a>
        </li>
        
        <li  class="col-xs-5  col-5 {{this.active_tab=='rounds-detail'? 'active':''}}" style="margin-right:0.5rem">
            <a data-toggle="tab" href="#jobdetails" (click)="setActiveTab('rounds-detail')">
                <img src="../assets/driver-images-mobile/restart_alt.png" alt="">
                <div class="ml-17">Job details</div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="ticketdetails" class="tab-pane fade show  {{this.active_tab=='ticket-detail'? 'in active':''}}">
            <div class="custom-padding12">
                <div  class="ticket-datetime mb-14 " style="background-color: #ececec;
                border-radius: 10px;color: #68696D;">
                    {{this.ticket_detail?.ticket?.ticket_date | date:'EEEE d'}} -- {{this.ticket_detail?.ticket?.ticket_time }}
                </div>
                <div class="ticket-datetime mb-14  bg-yellow2" (click)="moveToStatus(this.more_tickets?.ticket?.status, this.more_tickets?.id)" *ngIf="this.more_tickets && this.more_tickets?.id">
                      {{this.more_tickets?.ticket?.ticket_date | date:'EEEE d'}} -- {{this.more_tickets?.ticket?.ticket_time }}
                </div>
                
                <div class="title-9 text-center mb-10">Job</div>
                <div class="title-9 text-center mb-24 text-black-shade3">
                    {{this.ticket_detail?.ticket?.user?.company_name}}-{{this.ticket_detail?.ticket?.project?.project_name}}-<br/>{{this.ticket_detail?.ticket?.project?.job_number}}
                </div>
                <div class="d-flex justify-content-between align-items-center mb-14">
                    <div class="title-7">Approver:</div>
                    <div class="title-5">
                      <span class="red-circle" *ngIf="this.notification_type && this.notification_type=='Approver Changed'"></span>  {{this.ticket_detail?.ticket?.approver?.full_name}}
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <div class="title-7">Rounds:</div>
                    <div class="title-5">{{this.ticket_detail?.ticket?.ticket_truck_type_rounds?.length}}</div>
                </div>
                <textarea class="form-control br-10 mb-22" rows="3" placeholder="Description" readonly>{{this.ticket_detail?.ticket?.description}}</textarea>
                <div class="hr-dash mb-16"></div>
                <div class="title-9 mb-11" align="center">Trucking Company</div>
                <div class="d-flex justify-content-between align-items-center mb-14">
                    <div class="title-7">Name:</div>
                    <div class="title-5 text-align-right">{{this.ticket_detail?.trucking_company?.company_name}}</div>
                </div>
            </div>
           
           
            <div class="custom-padding12">
                <div class="d-flex justify-content-between align-items-center mb-14">
                    <div class="title-9">Dispatched:</div>
                    <div class="title-5  text-align-right">{{this.ticket_detail?.trucking_company?.full_name}} </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-23">
                    <div class="title-9">Phone number:</div>
                    <div class="title-5  text-align-right"> {{this.ticket_detail?.trucking_company?.contact_number}}</div>
                </div>
                <div class="hr-dash mb-23"></div>
                <div class="row mb-46">
                    <div class="col-6 pr-1">
                        <div class="border-div">
                            <div class="custom-padding15">
                                <div class="title-8 text-black-shade3 mb-7">Truck name</div>
                                <div class="title-9 text-black-shade4">{{this.ticket_detail?.truck?.truck_nickname
                                }}</div>
                            </div>
                            <div class="myhr"></div>
                            <div class="custom-padding15">
                                <div class="title-8 text-black-shade3 mb-7">Type</div>
                                <div class="title-9 text-black-shade4">{{this.ticket_detail?.truck?.truck_type
                                }}</div>
                            </div>
                            <div class="myhr"></div>
                            <div class="custom-padding15">
                                <div class="title-8 text-black-shade3 mb-7">License plate</div>
                                <div class="title-9 text-black-shade4">{{this.ticket_detail?.truck?.truck_license_plate
                                }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pl-1">
                        <div class="border-div">
                            <div class="custom-padding15">
                                <div class="title-8 text-black-shade3 mb-7">Trailer name</div>
                                <div class="title-9 text-black-shade4">{{this.ticket_detail?.trailer?.trailer_nickname
                                }}</div>
                            </div>
                            <div class="myhr"></div>
                            <div class="custom-padding15">
                                <div class="title-8 text-black-shade3 mb-7">Type</div>
                                <div class="title-9 text-black-shade4">{{this.ticket_detail?.trailer?.trailer_nickname
                                }}</div>
                            </div>
                            <div class="myhr"></div>
                            <div class="custom-padding15">
                                <div class="title-8 text-black-shade3 mb-7">License plate</div>
                                <div class="title-9 text-black-shade4">{{this.ticket_detail?.trailer?.trailer_license_plate
                                }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/> <br/>
                <div class="d-flex justify-content-center align-items-center buttons-div fix-button">
                    <div class=""><button type="button" class="btn-decline"   (click)="handleDecline(this.ticket_detail.ticket)">Decline <img src="../assets/driver-images-mobile/close.png" alt="" class="ml-5px" ></button></div>
                    <div class=""><button type="button" class="btn-accept ml-46" (click)="handleAcceptTicket(this.ticket_detail)">Accept <img src="../assets/driver-images-mobile/Done.png" alt="" class="ml-5px"></button></div>
                </div>
            </div>
          
        </div>
        <div id="jobdetails" class="tab-pane fade show {{this.active_tab=='rounds-detail'? ' in active':''}}" >
            <div class="custom-padding12">
                <ng-container *ngIf="this.ticket_detail?.ticket?.ticket_truck_type_rounds && this.ticket_detail?.ticket?.ticket_truck_type_rounds.length<1">
                    <div class="ticket-datetime mb-14  bg-white bg-no-round">
                        Start time {{this.ticket_detail?.ticket?.ticket_time }}
                    </div>
                    <textarea class="form-control br-10 mb-22" style="color: #68696D;" rows="6" placeholder="Description" readonly>{{this.ticket_detail?.ticket?.description}}</textarea>
                </ng-container>
    
                <ng-container *ngFor="let round of this.ticket_detail?.ticket?.ticket_truck_type_rounds">
                    <div class="rounds">Round {{round.round_no}}</div>
                    <div class="d-flex justify-content-between align-items-center mb-23 roundsdiv">
                        <div class="title-7">Pickup site</div>
                        <div class="title-10 text-black-shade3 text-left">{{this.ticket_detail?.ticket?.project?.project_location}}</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-23  roundsdiv">
                        <div class="title-7 ">Material out</div>
                        <div class="title-10 text-black-shade3 text-left">{{round.material_taken_out}}</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-41  roundsdiv">
                        <div class="title-7 ">Dump site</div>
                        <div class="title-10 text-black-shade3 text-left">{{round.dump_site}}</div>
                    </div>
                    <div class="hr-dash mb-21"></div>
                </ng-container>          
                <br/> <br/>
                <div class="d-flex justify-content-center align-items-center fix-button">
                    <!-- data-toggle="modal" data-target="#declineModal" -->
                    <div class=""><button type="button" class="btn-decline" (click)="handleDecline(this.ticket_detail.ticket)" >Decline <img src="../assets/driver-images-mobile/close.png" alt="" class="ml-5px"  ></button></div>
                    <div class=""><button type="button" class="btn-accept ml-46" (click)="handleAcceptTicket(this.ticket_detail)">Accept <img src="../assets/driver-images-mobile/Done.png" alt="" class="ml-5px"></button></div>
                </div>
            </div>
          
        </div>
    </div>

</div>


<div class="modal fade show" id="declineModal" role="dialog" 
*ngIf="!this.show_reason && this.ticket_to_decline && this.ticket_to_decline?.id!='' && this.ticket_to_decline !=null" style="display: block;padding-top: 0%;background: #0000005c;"
>
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title-11 mb-19 text-center">Are you sure that you want to<br>decline this job?</div>
                    <div class="d-flex justify-content-center align-items-center ">
                        <!-- data-toggle="modal" data-target="#declinereasonModal" -->
                      
                        <div class=""><button type="button" class="btn-accept btn-padding" (click)="getReason(this.ticket_to_decline)"
                            >Yes</button></div>

                        <div class=""><button type="button"  (click)="cancelDecline()" class="btn-decline ml-46 btn-padding">No</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="declinereasonModal" role="dialog"  *ngIf="this.show_reason && this.ticket_to_decline && this.ticket_to_decline?.id!='' && this.ticket_to_decline !=null" style="display: block;padding-top: 0%;background: #0000002c;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title-11 mb-31 text-center">Reason for declining the job?</div>
                    <span class="text-danger" *ngIf="reason_error!=''">{{reason_error}}</span>
                    <textarea class="form-control br-10 mb-16" rows="3" placeholder="Description" (change)="setReason($event)"></textarea>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class=""><button type="button" *ngIf="!loading_reject" class="btn-accept btn-padding" (click)="declineHandler()" >Done</button></div>
                        <div class=""><button type="button" *ngIf="loading_reject" class="btn-accept btn-padding" disabled>Processing..</button></div>
                        <div class=""><button type="button"  (click)="cancelDecline()"  class="btn-decline ml-46 btn-padding">Cancel</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>