<div class="wrapper">
  <app-dashboard-header [active_menu]="this.active_menu"></app-dashboard-header>
  <div id="content">
    <app-dashboard-top-header></app-dashboard-top-header>
    <div class="">
      <div class="main-inner-body-container mt-15px mb-15px">
        <div class="project-profile-header-container mb-15px">
          <div class="profile_heading_div1">
            <div class="project-profile-header-left d-flex align-items-center">
              <img
                src="./assets/icons/create_file_big.svg"
                alt="project-profile-file-icon"
              />
              <div class="heading-1-400 text-color-black">Dispatching</div>
            </div>
            <div class="project-profile-header-right">
              <button
                class="btn dispatches-btn d-flex align-items-center justify-content-center"
                [routerLink]="'/customer-create-ticket'"
              >
                <div class="heading-5-400">New Dispatch</div>
              </button>
              <button
                class="btn dispatches-btn active d-flex align-items-center justify-content-center"
              >
                <div class="heading-5-400">Past dispatches</div>
              </button>
            </div>
          </div>
        </div>
        <div class="body-content p-0">
          <div class="main-project-setting-container inner_main_shadow">
            <div class="main-project-setting-header">
              <div
                class="main-project-setting-header-left d-flex align-items-center"
              >
                <div class="heading-1-400 text-color-111727">
                  Past disatches
                </div>
              </div>
            </div>

            <div *ngIf="!this.ticketDetailView">
              <div class="row mb-15px">
                <div class="col-md-6 col-padding-l">
                  <div class="main-project-setting-header-left">
                    <div class="heading-2-300 text-color-111727">
                      Past disatches
                    </div>
                    <div class="text-2-300">Click the line to see details</div>
                  </div>
                </div>
                <div class="col-md-2 col-padding-rl">
                  <label class="field text-field">
                    <input
                      class="field__input height-43px"
                      placeholder=""
                      (change)="changeDate($event)"
                      type="date"
                    />
                    <span class="field__label-wrap">
                      <span class="field__label field__label2"
                        >Filter by date</span
                      >
                    </span>
                  </label>
                </div>
                <div class="col-md-2 col-padding-rl">
                  <div
                    class="input-div  getinputfield {{
                      !this.trucking_company_id ? 'border-blue' : ''
                    }} cur_p "
                  >
                    <div class="title-5-new2 text-color-black-shade5 text-left">
                      Filter by Vendor
                    </div>
                    <div
                      class="myinput-new sa_select selected"
                      *ngIf="!this.trucking_company_id"
                    >
                      Select
                    </div>
                    <div
                      class="myinput-new selected sa_selected_filter"
                      *ngIf="trucking_company_id"
                    >
                      {{ this.selected_company_name }}
                    </div>
                    <img
                      src="../../assets/images/dropdown.svg"
                      class="icon-center-right"
                    />
                    <div
                      class="input-popup-div cust_drop companies_list"
                      style="display: none"
                    >
                      <div class="title-5-new2 text-color-black-shade5 mb-4px">
                        Vendor
                      </div>
                      <div class="title-18 text-right mb-2px d-none">
                        Default
                      </div>
                      <div
                        (click)="setTC('', '')"
                        class="d-flex justify-content-between mb-5px list-item"
                      >
                        <div
                          [ngClass]="
                            !this.trucking_company_id
                              ? 'title-5-new33 title-5-new33_active'
                              : 'title-5-new33 text-color-black-shade7'
                          "
                        >
                          All
                        </div>
                      </div>
                      <ng-container
                        *ngFor="let company of this.trucking_companies_list"
                      >
                        <div
                          (click)="setTC(company?.id, company?.company_name)"
                          class="d-flex justify-content-between mb-5px list-item"
                          *ngIf="company?.id"
                        >
                          <div
                            *ngIf="company?.id"
                            [ngClass]="
                              this.trucking_company_id == company.id
                                ? 'title-5-new33 title-5-new33_active'
                                : 'title-5-new33 text-color-black-shade7'
                            "
                          >
                            {{ company?.company_name }}
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>

                <div class="col-md-2 col-padding-r">
                  <div
                    class="input-div  getinputfield2 {{
                      !this.project_id ? 'border-blue' : ''
                    }} cur_p"
                  >
                    <div class="title-5-new2 text-color-black-shade5 text-left">
                      Filter by project
                    </div>
                    <div
                      class="myinput-new sa_select selected"
                      *ngIf="!this.project_id"
                    >
                      Select
                    </div>
                    <div
                      class="myinput-new selected sa_selected_filter"
                      *ngIf="project_id"
                    >
                      {{ this.selected_proj_name }}
                    </div>
                    <img
                      src="../../assets/images/dropdown.svg"
                      class="icon-center-right"
                    />
                    <div
                      class="input-popup-div2 cust_drop companies_list"
                      style="display: none"
                    >
                      <div class="title-5-new2 text-color-black-shade5 mb-4px">
                        Vendor
                      </div>
                      <div class="title-18 text-right mb-2px d-none">
                        Default
                      </div>
                      <div
                        (click)="setProject('', '')"
                        class="d-flex justify-content-between mb-5px list-item"
                      >
                        <div
                          [ngClass]="
                            !this.project_id
                              ? 'title-5-new33 title-5-new33_active '
                              : 'title-5-new33 text-color-black-shade7'
                          "
                        >
                          All
                        </div>
                      </div>
                      <ng-container *ngFor="let company of this.projects_list">
                        <div
                          (click)="
                            setProject(company?.id, company?.project_name)
                          "
                          class="d-flex justify-content-between mb-5px list-item"
                          *ngIf="company?.id"
                        >
                          <div
                            *ngIf="company?.id"
                            [ngClass]="
                              this.project_id == company.id
                                ? 'title-5-new33 title-5-new33_active '
                                : 'title-5-new33 text-color-black-shade7'
                            "
                          >
                            {{ company?.project_name }}
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>

                <div
                  *ngIf="
                    this.show_buttons && this.selected_ticket_list?.length > 0
                  "
                  class="col-md-3 text-right"
                >
                  <div
                    class="btn-danger2 pr-3 pb-1"
                    data-toggle="modal"
                    data-target="#myModal2"
                  >
                    <b
                      >Cancel
                      <span *ngIf="this.selected_ticket_list?.length > 0">
                        [{{ this.selected_ticket_list?.length }}]
                      </span></b
                    >
                  </div>
                </div>
              </div>

              <div class="row row-2px"></div>

              <div class="row row-2px">
                <div class="col-md-12">
                  <div class="project-setting-page-table table-responsive">
                    <table class="table mytable">
                      <thead class="table-light project-setting-table-header">
                        <tr>
                          <th
                            (click)="sortBy('ticket_no')"
                            scope="col"
                            class="project-settings-table-header"
                          >
                            <div class="heading-8-400 text-color-grey"></div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div
                              class="heading-8-400 text-left text-color-grey"
                            >
                              Dispatch<br />date
                            </div>
                          </th>
                          <th
                            (click)="sortBy('trucking_company_id')"
                            scope="col"
                            class="project-settings-table-header"
                          >
                            <div
                              class="heading-8-400 text-left text-color-grey"
                            >
                              Vendor
                            </div>
                          </th>
                          <th
                            (click)="sortBy('project_id')"
                            scope="col"
                            class="project-settings-table-header"
                          >
                            <div class="heading-8-400 text-color-grey">
                              Project
                            </div>
                          </th>
                          <th
                            (click)="sortBy('project_id')"
                            scope="col"
                            class="project-settings-table-header"
                          >
                            <div class="heading-8-400 text-color-grey">
                              Dispatcher
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey">
                              # of days
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey">
                              # of trucks <br />
                              per day
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey">
                              Approved <br />tickets
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey">
                              Volume
                              <br />moved (m3)
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngIf="
                            ticket_list && ticket_list.length > 0;
                            else elseRow
                          "
                        >
                          <tr
                            *ngFor="
                              let ticket of ticket_list;
                              let index = index
                            "
                          >
                            <td (click)="this.setDetailTicket(ticket)">
                              <div
                                [ngClass]="getStatusClass(ticket.status)"
                                id="status-box"
                              ></div>
                            </td>
                            <td
                              class="text-left"
                              (click)="this.setDetailTicket(ticket)"
                            >
                              {{ ticket?.ticket_date | date : "dd-MM-YYYY" }}
                            </td>

                            <td
                              class="text-left"
                              (click)="this.setDetailTicket(ticket)"
                            >
                              {{ ticket.trucking_company?.company_name }}
                            </td>

                            <td (click)="this.setDetailTicket(ticket)">
                              {{ ticket.project?.project_name }}
                            </td>
                            <td (click)="this.setDetailTicket(ticket)">
                              {{ ticket?.user?.full_name }}
                            </td>
                            <td (click)="this.setDetailTicket(ticket)">
                              {{ getNumberOfDaysCount(ticket) }}
                            </td>
                            <td (click)="this.setDetailTicket(ticket)">
                              {{ ticket?.ticket_truck_type?.number_of_trucks }}
                            </td>
                            <td class="" (click)="this.setDetailTicket(ticket)">
                              {{ getApprovedTicketCount(ticket) }}
                            </td>
                            <td class="" (click)="this.setDetailTicket(ticket)">
                              {{ getTotalVolume(ticket) }}
                            </td>
                          </tr>
                        </ng-container>
                        <ng-template #elseRow>
                          <tr>
                            <td
                              colspan="10"
                              class="text-center"
                              *ngIf="!is_loading && this.Unknown < 1"
                            >
                              <h4>No tickets to show.</h4>
                            </td>
                            <td
                              colspan="10"
                              class="text-center"
                              *ngIf="is_loading"
                            >
                              <h4>Loading Dispatch List.</h4>
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Pagination -->
              <div class="row">
                <div class="col-md-2">
                  <div class="width-64">
                    <label class="field text-field">
                      <select
                        class="field__input icon-none bg-light-grey3 no-border height-34px custom-padding"
                        (change)="this.handlePerPage($event)"
                      >
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      <i
                        class="fa fa-caret-down input-icon-right2 text-color-lightgrey"
                        aria-hidden="true"
                      ></i>
                      <span class="field__label-wrap">
                        <span class="field__label field__label2 left-6px"
                          >Rows</span
                        >
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-md-10">
                  <div
                    class="mypagination-div"
                    *ngIf="ticket_pagination?.total > 0"
                  >
                    <a
                      style="cursor: pointer"
                      (click)="changePage(ticket_pagination.current_page - 1)"
                      [ngClass]="
                        ticket_pagination.first_page == this.page
                          ? 'mypagination '
                          : 'mypagination disable'
                      "
                      class=""
                      >Previous</a
                    >
                    <ng-container *ngFor="let item of ticket_pagination?.links">
                      <a
                        style="cursor: pointer"
                        *ngIf="notSkip(item.label)"
                        [ngClass]="
                          item.active ? 'mypagination active' : 'mypagination'
                        "
                        (click)="changePage(parsePage(item.label.toString()))"
                        >{{ item.label }}</a
                      >
                    </ng-container>

                    <a
                      style="cursor: pointer"
                      (click)="changePage(ticket_pagination.current_page + 1)"
                      [ngClass]="
                        this.page == ticket_pagination.last_page
                          ? 'mypagination '
                          : 'mypagination next'
                      "
                      >Next</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="this.ticketDetailView">
              <div class="row mb-15px">
                <div class="col-md-6 col-padding-l align-content-center">
                  <div class="main-project-setting-header-left">
                    <div class="heading-2-300 text-color-111727">
                      Past disatches
                      {{ this.ticketDetail?.ticket_date | date : "dd-MM-YYYY" }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-padding-rl">
                  <div
                    class="d-flex flex-wrap justify-content-end ticket-detail-proj-vendor"
                  >
                    <div class="d-flex flex-column">
                      <div class="heading-8-400 text-color-88898B mb-2">
                        Project
                      </div>
                      <div class="heading-5-400 text-color-000">
                        {{ this.ticketDetail?.project?.project_name }}
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="heading-8-400 text-color-88898B mb-2">
                        Vendor
                      </div>
                      <div class="heading-5-400 text-color-000">
                        {{ this.ticketDetail?.trucking_company?.company_name }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-padding-r align-content-center">
                  <div class="dispatch-detail-repeat-box justify-content-end">
                    <button
                      class="btn dispatches-btn d-flex align-items-center justify-content-center"
                      (click)="this.closeDetailTicket()"
                    >
                      <div class="heading-5-400">Back</div>
                    </button>
                    <button
                      class="btn dispatches-btn-active d-flex align-items-center justify-content-center"
                      [routerLink]="'/customer-create-ticket'"
                      [queryParams]="{
                        id: this.ticketDetail?.ticket_truck_type_id
                      }"
                    >
                      <div class="heading-5-400">Repeat</div>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row row-2px mb-15px"></div>

              <div class="row row-2px">
                <div class="col-md-12">
                  <div class="project-setting-page-table table-responsive">
                    <table class="table mytable">
                      <thead class="table-light project-setting-table-header">
                        <tr>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey"></div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div
                              class="heading-8-400 text-left text-color-grey"
                            >
                              Ticket ID
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div
                              class="heading-8-400 text-left text-color-grey"
                            >
                              Driver
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey">
                              Date
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey">
                              Time
                            </div>
                          </th>
                          <th scope="col" class="project-settings-table-header">
                            <div class="heading-8-400 text-color-grey">
                              Progress
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngIf="
                            ticketDetail &&
                              ticketDetail?.ticket_truck_type?.tickets?.length >
                                0;
                            else elseRow
                          "
                        >
                          <tr
                            *ngFor="
                              let ticket of ticketDetail?.ticket_truck_type
                                ?.tickets;
                              let index = index
                            "
                          >
                            <td
                              (click)="this.setDetailTicketOpenPopup(ticket)"
                              data-toggle="modal"
                              data-target="#myModal"
                            >
                              <div
                                [ngClass]="
                                  getStatusClassForSingleTicket(ticket.status)
                                "
                                id="status-box"
                              ></div>
                            </td>
                            <td
                              class="text-left"
                              (click)="this.setDetailTicketOpenPopup(ticket)"
                              data-toggle="modal"
                              data-target="#myModal"
                            >
                              {{ ticket?.ticket_no }}
                            </td>

                            <td
                              class="text-left"
                              (click)="this.setDetailTicketOpenPopup(ticket)"
                              data-toggle="modal"
                              data-target="#myModal"
                            >
                              {{
                                ticket?.driver_ticket?.driver?.full_name
                                  ? ticket?.driver_ticket?.driver?.full_name
                                  : ""
                              }}
                            </td>

                            <td
                              (click)="this.setDetailTicketOpenPopup(ticket)"
                              data-toggle="modal"
                              data-target="#myModal"
                            >
                              {{ ticket?.ticket_date }}
                            </td>
                            <td
                              (click)="this.setDetailTicketOpenPopup(ticket)"
                              data-toggle="modal"
                              data-target="#myModal"
                            >
                              {{ ticket?.ticket_time }}
                            </td>
                            <td
                              (click)="this.setDetailTicketOpenPopup(ticket)"
                              data-toggle="modal"
                              data-target="#myModal"
                            >
                              <ng-container
                                *ngIf="
                                  ticket?.ticket_truck_type_rounds?.length > 0;
                                  else BlockNoRounds
                                "
                              >
                                <ng-container
                                  *ngIf="ticket?.status == 'Approved'"
                                >
                                  <div class="progress_rounds">
                                    <ng-container
                                      *ngFor="
                                        let round of ticket?.ticket_truck_type_rounds;
                                        index as index
                                      "
                                    >
                                      <div
                                        class="single_progress_rounds bg-color-33D1A2"
                                        *ngIf="
                                          index !=
                                          ticket?.ticket_truck_type_rounds
                                            ?.length -
                                            1
                                        "
                                      ></div>
                                      <div
                                        class="single_progress_rounds active bg-color-17A1FA single_progress_rounds active bg-color-33D1A2 cursor-pointer status-btn2 {{
                                          getStatusClassForSingleTicket(
                                            ticket.status
                                          )
                                        }} status-btn2"
                                        *ngIf="
                                          index ==
                                          ticket?.ticket_truck_type_rounds
                                            ?.length -
                                            1
                                        "
                                      >
                                        {{ ticket?.status }}
                                      </div>
                                    </ng-container>
                                  </div>
                                </ng-container>
                                <ng-container
                                  *ngIf="ticket?.status == 'Completed'"
                                >
                                  <div class="progress_rounds">
                                    <ng-container
                                      *ngFor="
                                        let round of ticket?.ticket_truck_type_rounds;
                                        index as index
                                      "
                                    >
                                      <div
                                        class="single_progress_rounds bg-color-33D1A2"
                                        *ngIf="
                                          round?.driver_start_time != null &&
                                          round?.end_time != null &&
                                          round?.id !=
                                            getLastDoneRound(
                                              ticket?.ticket_truck_type_rounds
                                            )?.id
                                        "
                                      ></div>
                                      <div
                                        class="single_progress_rounds active bg-color-33D1A2 cursor-pointer status-btn2 {{
                                          getStatusClassForSingleTicket(
                                            ticket.status
                                          )
                                        }}"
                                        *ngIf="
                                          round?.driver_start_time != null &&
                                          round?.end_time != null &&
                                          round?.id ==
                                            getLastDoneRound(
                                              ticket?.ticket_truck_type_rounds
                                            )?.id
                                        "
                                        (click)="
                                          getLastRound(
                                            ticket,
                                            'userInCompletedNewModal'
                                          )
                                        "
                                      >
                                        {{ ticket?.status }}
                                      </div>
                                      <div
                                        class="single_progress_rounds"
                                        *ngIf="
                                          !(
                                            round?.driver_start_time != null &&
                                            round?.end_time != null
                                          )
                                        "
                                      ></div>
                                    </ng-container>
                                  </div>
                                </ng-container>
                                <ng-container
                                  *ngIf="ticket?.status == 'Pending'"
                                >
                                  <div class="progress_rounds">
                                    <ng-container
                                      *ngFor="
                                        let round of ticket?.ticket_truck_type_rounds;
                                        index as index
                                      "
                                    >
                                      <div
                                        class="single_progress_rounds active bg-color-pending status-btn2 {{
                                          getStatusClassForSingleTicket(
                                            ticket.status
                                          )
                                        }} cursor-pointer"
                                        *ngIf="index == 0"
                                        (click)="
                                          getLastRound(
                                            ticket,
                                            'userAcceptedModal'
                                          )
                                        "
                                      >
                                        {{ ticket?.status }}
                                      </div>
                                      <div
                                        class="single_progress_rounds"
                                        *ngIf="index != 0"
                                      ></div>
                                    </ng-container>
                                  </div>
                                </ng-container>
                                <ng-container
                                  *ngIf="ticket?.status == 'Accepted'"
                                >
                                  <div class="progress_rounds">
                                    <ng-container
                                      *ngFor="
                                        let round of ticket?.ticket_truck_type_rounds;
                                        index as index
                                      "
                                    >
                                      <div
                                        class="single_progress_rounds active bg-color-FFF8B8 status-btn2 {{
                                          getStatusClassForSingleTicket(
                                            ticket.status
                                          )
                                        }} cursor-pointer"
                                        *ngIf="index == 0"
                                        (click)="
                                          getLastRound(
                                            ticket,
                                            'userAcceptedModal'
                                          )
                                        "
                                      >
                                        {{ ticket?.status }}
                                      </div>
                                      <div
                                        class="single_progress_rounds"
                                        *ngIf="index != 0"
                                      ></div>
                                    </ng-container>
                                  </div>
                                </ng-container>

                                <ng-container
                                  *ngIf="
                                    ticket?.status == 'Driving' &&
                                    getAllRoundDone(ticket)
                                  "
                                >
                                  <div class="progress_rounds">
                                    <ng-container
                                      *ngFor="
                                        let round of ticket?.ticket_truck_type_rounds;
                                        index as index
                                      "
                                    >
                                      <div
                                        class="single_progress_rounds bg-color-33D1A2"
                                        *ngIf="
                                          index !=
                                          ticket?.ticket_truck_type_rounds
                                            ?.length -
                                            1
                                        "
                                      ></div>
                                      <div
                                        class="single_progress_rounds active bg-color-F4BE1B  status-btn2 {{
                                          getStatusClassForSingleTicket(
                                            ticket.status
                                          )
                                        }}"
                                        *ngIf="
                                          index ==
                                          ticket?.ticket_truck_type_rounds
                                            ?.length -
                                            1
                                        "
                                      >
                                        {{ ticket?.status }}
                                      </div>
                                    </ng-container>
                                  </div>
                                </ng-container>
                                <ng-container
                                  *ngIf="
                                    ticket?.status == 'Driving' &&
                                    !getAllRoundDone(ticket)
                                  "
                                >
                                  <div class="progress_rounds">
                                    <ng-container
                                      *ngFor="
                                        let round of ticket?.ticket_truck_type_rounds;
                                        index as index
                                      "
                                    >
                                      <div
                                        class="single_progress_rounds bg-color-33D1A2"
                                        *ngIf="
                                          round?.driver_start_time &&
                                          round?.end_time
                                        "
                                      ></div>
                                      <div
                                        class="single_progress_rounds active status-btn2 text-white bg-color-F4BE1B"
                                        *ngIf="
                                          getRoundInProgress(ticket)?.id ==
                                            round?.id;
                                          else Block2
                                        "
                                      >
                                        {{ ticket?.status }}
                                      </div>

                                      <ng-template #Block2>
                                        <ng-container
                                          *ngIf="
                                            !getRoundInProgress(ticket) &&
                                              getRoundToStart(ticket);
                                            else Block3
                                          "
                                        >
                                          <div
                                            class="single_progress_rounds active bg-color-F4BE1B status-btn2 text-white else {{
                                              round?.round_no
                                            }}"
                                            *ngIf="
                                              getRoundToStart(ticket)?.id ==
                                                round?.id;
                                              else Block3
                                            "
                                          >
                                            {{ ticket?.status }}
                                          </div>
                                        </ng-container>

                                        <ng-template #Block3>
                                          <div
                                            class="single_progress_rounds"
                                            *ngIf="
                                              ((round?.driver_start_time ==
                                                '' ||
                                                !round?.driver_start_time) &&
                                                getRoundInProgress(ticket)
                                                  ?.id != round?.id &&
                                                getRoundToStart(ticket)?.id !=
                                                  round?.id &&
                                                (round?.end_time == '' ||
                                                  !round?.end_time) &&
                                                getLastRoundId(ticket) !=
                                                  round?.id) ||
                                              (getLastRoundId(ticket) ==
                                                round?.id &&
                                                getRoundToStart(ticket)?.id !=
                                                  round?.id &&
                                                getRoundInProgress(ticket)
                                                  ?.id != round?.id) ||
                                              (getLastRoundId(ticket) !=
                                                round?.id &&
                                                getRoundToStart(ticket)?.id ==
                                                  round?.id &&
                                                getRoundInProgress(ticket)
                                                  ?.id != round?.id) ||
                                              (getLastRoundId(ticket) ==
                                                round?.id &&
                                                getRoundToStart(ticket)?.id ==
                                                  round?.id &&
                                                getRoundInProgress(ticket)
                                                  ?.id != round?.id)
                                            "
                                          ></div>
                                        </ng-template>
                                      </ng-template>
                                    </ng-container>
                                  </div>
                                </ng-container>
                              </ng-container>
                              <ng-template #BlockNoRounds>
                                <button
                                  [ngClass]="
                                    getStatusClassForSingleTicket(
                                      ticket.status
                                    ) + ' status-btn2'
                                  "
                                >
                                  {{ ticket.status }}
                                </button>
                              </ng-template>
                            </td>
                          </tr>
                        </ng-container>
                        <ng-template #elseRow>
                          <tr>
                            <td
                              colspan="10"
                              class="text-center"
                              *ngIf="!is_loading && this.Unknown < 1"
                            >
                              <h4>No tickets to show.</h4>
                            </td>
                            <td
                              colspan="10"
                              class="text-center"
                              *ngIf="is_loading"
                            >
                              <h4>Loading Dispatch Ticket List.</h4>
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-customer-ticket-popup
  (listing)="this.getTicketListing()"
  [ticketDetail]="this.singleTicketDetail"
  [roundId]="0"
>
</app-customer-ticket-popup>
