<div class="row m-0 content-container" >

    <div class="col-md-6 ">
        <div class="header-logo">
            <img class="logo-shadow cursor-pointer" [routerLink]="'/home'" src="assets/images/logo.png"></div>
        <div class="login-form-div display-table">
            <div class="form-div vertical-middle" *ngIf="is_loading  == false && current_step == 0">
                <div class="welcome-back-text mb-2">Reset Password</div>
                <form [formGroup]="sendLinkForm" (ngSubmit)="onSendLink()" enctype="multipart/form-data" *ngIf="!this.is_sent_code">
                    <div class="welcome-back-sub-text mb-2">Enter your email to get reset password link !</div>
            
                    <span *ngIf="emailError != ''" class="text-danger">{{
                        emailError
                    }}</span>
                    <label class="field text-field">
                        <input class="field__input" placeholder="example@mail.com" formControlName="email">
                       
                        <span class="field__label-wrap">
                        <span class="field__label">Email</span>
                        </span>
                    </label>
                    <div class="row m-0">
                        <div class="col-md-6 padding-left-0">
                            <button class="mybtn  " [routerLink]="['/home']">Log In</button>
                        </div>
                        <div class="col-md-6 padding-right-0">
                            <button class="mybtn bg-blue gotosignup text-white " *ngIf="!is_loading_btn" type="submit">Send Reset Link</button>
                            
                            <button class="mybtn bg-blue gotosignup text-white " disabled type="button" *ngIf="is_loading_btn">Processing...</button>
                        </div>
                    </div>
                </form>
                <ng-container *ngIf="this.is_sent_code && this.message !=''">
                    <h3 class="p-5 alert heading-2 alert-info">
                        {{this.message}}
                    </h3>
                </ng-container>
            </div>
            <div class="form-div vertical-middle" *ngIf="is_loading == false && current_step == 2">
                <div class="welcome-back-text">Please enter new Password</div>
                <div class="login-title"></div>
                <div class="welcome-back-sub-text">Set Password</div>
                <form [formGroup]="setPasswordFrom" (ngSubmit)="setPasswordSubmit()">
                    <span *ngIf="passwordError!= ''" class="text-danger">{{
                        passwordError
                    }}</span>
                    <label class="field text-field">
                        <input class="field__input" (input)="checkPassword($event)" type="password" placeholder="example"  formControlName="password">
                        <i class="fa fa-eye-slash input-icon-right btnhshowhidepass" aria-hidden="true"></i>
                        <span class="field__label-wrap">
                        <span class="field__label">Password</span>
                        </span>
                    </label>
                    <br>
                    <span *ngIf="confirmPasswordError!= ''" class="text-danger">{{
                        confirmPasswordError
                    }}</span>
                    <label class="field text-field">
                        <input class="field__input" type="password" placeholder="example" value="" formControlName="confirm_password">
                        <i class="fa fa-eye-slash input-icon-right btnhshowhidepass" aria-hidden="true"></i>
                        <span class="field__label-wrap">
                        <span class="field__label">Confirm password</span>
                        </span>
                    </label>
                    <br>
                    <br>
                    <div>
                        <div class="single-instruction">
                            <i class="fa fa-circle" [ngClass]="{'active': atleast_eight === true}"></i>
                            <div class="instructions-text">Atleast 8 character</div>
                        </div>
                        <div class="single-instruction">
                            <i class="fa fa-circle " [ngClass]="{'active': upper_lower === true}"></i>
                            <div class="instructions-text">Atleast one uppercase and one lowercase character</div>
                        </div>
                        <div class="single-instruction">
                            <i class="fa fa-circle "  [ngClass]="{'active': number_symbol_space === true}"></i>
                            <div class="instructions-text">Atleast one number, symbol, or whitespace character</div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row m-0">
                    
                        <div class="col-md-7 padding-right-0">

                            <button class="mybtn primary_button gotosignup" *ngIf="!is_loading_btn"  type="submit">Reset Password</button>
                            <button class="mybtn primary_button gotosignup" *ngIf="is_loading_btn"  type="button" disabled>Processing...</button>

                        </div>
                    </div>
                </form>
            </div>
            <div class="form-div vertical-middle" *ngIf="is_loading  == true && current_step == 0">
                <div class="welcome-back-text">
                    <h2>
                        Verifying Your Request....
                    </h2>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="col-md-6 truck-back">
        <div class="">
            <div class="welcome-div-content">
                <div class="welcome-div">
                    <div class="welcome-title">
                        Welcome to DispatchProX, the place for truck jobs
                    </div>
                    <div class="welcome-desc">DispatchProX empowers Trucking companies and simplifies their utilization for their customers by providing accurate data flow between the entities. </div>
                </div>
            </div>
        </div>
    </div>
</div>