@import url('../../../assets/css/margins.css');

@import url('../../../assets/css/trucking-style2.css');

.header-logo{
    padding: 35px 70px;
}
@media (max-width: 768px) {
.truck-back{
    display: none;
}
}
.mybtn{
    width: 100% !important;
}
.bg-blue{
    background-color:#43abdb !important;
}

.cursor-pointer
{
    cursor: pointer;
}