<div class="wrapper" *ngIf="screen =='desktop' || screen == 'tablet'">
    <app-dashboard-header></app-dashboard-header>
    <div id="content">
        <app-dashboard-top-header></app-dashboard-top-header>
        <div class="body-content">
            <div class="dashboard-title">Accepted Tickets</div>
            <br>
            <div class="row">
            
                <div class="col-md-12 text-center">
                  <h1>
                    Coming Soon
                  </h1>
                  
                </div>
            </div>
            <br>
        
        </div>
    </div>
</div>

<ng-container *ngIf="screen == 'mobile'">
    
    <div class="main-content"  *ngIf="!this.ticket_detail">
        <app-dashboard-top-header [current_page]="'Accepted Tickets'"></app-dashboard-top-header>
        <br>
        <app-dashboard-header [active_menu]="this.active_menu"></app-dashboard-header>
        <br>
        <br>
     
        <div align="center" *ngIf="!this.tickets || this.tickets?.length == 0">
            <img src="assets/images/empty.svg" class="w-75">
            <br>
            <br>
            <div class="heading-7 color-blackshade-4 ">No accepted tickets available</div>
            <br>
            <div class="desc-3 color-blackshade-5 w-75"></div>
            <br>
            <br>
            <button class="mybtn2 bg-grey"><img src="assets/images/refresh.svg" [routerLink]="'/driver-accepted-tickets'" class="w-20px">Refresh page</button>
        </div>
        <ng-container *ngIf="this.tickets && this.tickets?.length > 0 && !this.ticket_detail">
        <ng-container *ngFor="let driver_ticket of this.tickets">

            <div (click)="setDetail(driver_ticket)" class="mb-2">
            <div class="heading-9 mt-2 mb-2">{{driver_ticket?.created_at |  date:'longDate'}}</div>
            
            <div class="dashboard-body-stats">
                <div class="dashboard-contents">
                    <div>
                        <div class="heading-6 color-blackshade-5 mb-1">Ticket ID</div>
                        <div class="heading-10 color-blackshade-6 ">{{driver_ticket?.ticket?.ticket_no}}</div>
                    </div>
                    <div>
                        <div class="heading-6 color-blackshade-5 mb-1 text-right">Start time</div>
                        <div class="heading-10 color-blackshade-6  text-right">{{driver_ticket?.ticket?.ticket_time && driver_ticket?.ticket?.ticket_time !="" ? driver_ticket?.ticket?.ticket_time : (driver_ticket?.ticket?.ticket_truck_type_rounds[0] && driver_ticket?.ticket?.ticket_truck_type_rounds[0].first_truck_start_at) }}</div>
                    </div>
                </div>
                <div class="myhr"></div>
                <div class="dashboard-contents">
                    <div>
                        <div class="heading-6 color-blackshade-5 mb-1">Customer name</div>
                        <div class="heading-10 color-blackshade-6 ">{{driver_ticket?.ticket?.user?.full_name}}</div>
                    </div>
                    <div class="border-left"></div>
                    <div>
                        <div class="heading-6 color-blackshade-5 mb-1 text-right">Contact number</div>
                        <div class="heading-10 color-blackshade-6  text-right">{{driver_ticket?.ticket?.user?.contact_number}}</div>
                    </div>
                </div>
                <div class="myhr"></div>
                <div class="d-flex p-3 justify-content-between">
                    <div class="">
                        <div class="d-flex">
                            <img src="assets/images/arrow-pink.svg">
                            <div class="pl-3 pt-2">
                                <div class="desc-3 color-blackshade-5 pb-1">Pick-up site</div>
                                <div class="heading-9 color-blackshade-6  pb-1">{{driver_ticket?.ticket?.project?.project_location}}</div>
                                <div class="desc-5 color-blackshade-5 pb-1"></div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <img src="assets/images/arrow-purple.svg">
                            <div class="pl-3 pt-2">
                                <div class="desc-3 color-blackshade-5 pb-1">Dump site</div>
                                <div class="heading-9 color-blackshade-6 pb-1">{{driver_ticket?.ticket?.ticket_truck_type_rounds[0] && driver_ticket?.ticket?.ticket_truck_type_rounds[0].dump_site}}</div>
                                <div class="desc-5 color-blackshade-5 pb-1"></div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/arrow-grey.svg">
                </div>
                <div class="myhr"></div>
                <div class="d-flex p-3 justify-content-between">
                    <div>
                        <div class="heading-6 color-blackshade-5 mb-1">Dispatched by</div>
                        <div class="heading-10 color-blackshade-6 ">{{driver_ticket?.trucking_company?.company_name}}</div>
                    </div>
                    <div class="border-left"></div>
                    <div>
                        <div class="heading-6 color-blackshade-5 mb-1">Approver</div>
                        <div class="heading-10 color-blackshade-6 ">{{driver_ticket?.ticket?.approver?.full_name}} </div>
                    </div>
                    <div class="border-left"></div>
                    <div>
                        <div class="heading-6 color-blackshade-5 mb-1 text-right">Rounds</div>
                        <div class="heading-10 color-blackshade-6  text-right">{{driver_ticket?.ticket?.ticket_truck_type_rounds?.length}} rounds</div>
                    </div>
                </div>
            </div>
            </div>
        
        </ng-container>
        <div class="col-md-12 text-center mt-3" *ngIf="ticket_pagination?.total>this.perPage">
            <div class="mypagination-div " *ngIf="ticket_pagination?.total>0">
                <a  style="cursor: pointer" (click)="changePage(ticket_pagination.current_page -1 )" [ngClass]="ticket_pagination.first_page == this.page ? 'mypagination ':'mypagination disable'" class="">Previous</a>
                                            
                <a  style="cursor: pointer" (click)="changePage(ticket_pagination.current_page +1 )" [ngClass]="this.page == ticket_pagination.last_page ? 'mypagination ':'mypagination next'">Next</a>
            </div>
        </div>
        </ng-container>
    </div>
    <div class="main-content" *ngIf="this.ticket_detail && this.ticket_detail?.driver_id !='' ">
        <br>
        <div class="row">
            <div class="col-3">
                <div class="back-div" (click)="backToList()">
                    <img src="assets/images/arrow-back.svg" class="">
                </div>
            </div>
            <div class="col-6">
                <div class="heading-11 text-center pt-3">{{this.ticket_detail?.ticket?.ticket_no}}</div>
            </div>
        </div>
        <br>
        <div>
            <ul class="request-ul">
                <li>
                    <div (click)="changeDetailTab('ticket_detail')" [ngClass]="this.detail_selected_tab == 'ticket_detail' ? 'request-div active': 'request-div'" >
                        <div class="heading-8 color-blackshade-4 pr-2">Ticket details</div>
                    </div>
                </li>
                <li>
                    <div (click)="changeDetailTab('round_detail')" [ngClass]="this.detail_selected_tab == 'round_detail' ? 'request-div active': 'request-div'">
                        <div class="heading-8 color-blackshade-4 pr-2">Round details</div>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <div *ngIf="this.detail_selected_tab == 'ticket_detail'">
            <div class="dashboard-body-stats">
                <div class="dashboard-contents">
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1">Customer</div>
                        <div class="heading-9 color-blackshade-6 ">{{this.ticket_detail.ticket?.user?.full_name}} </div>
                    </div>
                    <div class="border-left"></div>
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1 text-right">Date & time</div>
                        <div class="heading-9 color-blackshade-6  text-right"> {{this.ticket_detail?.ticket?.ticket_date | date:'shortDate'}} {{this.ticket_detail?.ticket?.ticket_time && this.ticket_detail?.ticket?.ticket_time !="" ? this.ticket_detail?.ticket?.ticket_time : (this.ticket_detail?.ticket?.ticket_truck_type_rounds[0] && this.ticket_detail?.ticket?.ticket_truck_type_rounds[0].first_truck_start_at) }} </div>
                    </div>
                </div>
                <div class="myhr"></div>
                <div class="dashboard-contents">
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1">Job Approver</div>
                        <div class="heading-9 color-blackshade-6 ">{{this.ticket_detail.ticket?.approver?.full_name}} </div>
                    </div>
                    <div class="border-left"></div>
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1 text-right">Rounds</div>
                        <div class="heading-9 color-blackshade-6  text-right">{{this.ticket_detail?.ticket?.ticket_truck_type_rounds?.length}} rounds</div>
                    </div>
                </div>
                <div class="myhr"></div>
                <div class="dashboard-contents">
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1">Job address</div>
                        <div class="heading-9 color-blackshade-6 ">{{this.ticket_detail?.ticket?.project?.project_location}}</div>
                    </div>
                    <div class="border-left"></div>
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1 text-right">Dump site</div>
                        <div class="heading-9 color-blackshade-6  text-right">{{this.ticket_detail?.ticket?.ticket_truck_type_rounds[0] && this.ticket_detail?.ticket?.ticket_truck_type_rounds[0].dump_site}}.</div>
                    </div>
                </div>
                <div class="myhr"></div>
                <div class="dashboard-contents">
                    <div class="w-100">
                        <div class="desc-5 color-blackshade-5 mb-1">Notes by customer</div>
                        <div class="heading-9 color-blackshade-6 "></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="dashboard-body-stats">
                <div class="dashboard-contents">
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1">Trucking company</div>
                        <div class="heading-9 color-blackshade-6 ">{{this.ticket_detail?.ticket?.trucking_company?.company_name}}</div>
                    </div>
                    <div class="border-left"></div>
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1 text-right">Dispatcher</div>
                        <div class="heading-9 color-blackshade-6  text-right">{{this.ticket_detail?.trucking_company?.company_name}}</div>
                    </div>
                </div>
                <div class="myhr"></div>
                <div class="dashboard-contents">
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1">Contact #</div>
                        <div class="heading-9 color-blackshade-6 ">{{this.ticket_detail?.trucking_company?.contact_number}}</div>
                    </div>
                    <div class="border-left"></div>
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1 text-right">Status</div>
                        <div class="heading-9 color-blue text-right">Ticket {{this.ticket_detail?.ticket?.status}}</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="dashboard-body-stats">
                <div class="dashboard-contents">
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1">Truck license plate </div>
                        <div class="heading-9 color-blackshade-6 ">{{this.ticket_detail?.truck?.truck_license_plate}}</div>
                    </div>
                    <div class="border-left"></div>
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1 text-right">Truck type</div>
                        <div class="heading-9 color-blackshade-6  text-right">{{this.ticket_detail?.truck?.truck_type}}</div>
                    </div>
                </div>
                <div class="myhr"></div>
                <div class="dashboard-contents">
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1">Round one time</div>
                        <div class="heading-9 color-blackshade-6 ">{{this.ticket_detail?.ticket?.ticket_truck_type_rounds[0] && this.ticket_detail?.ticket?.ticket_truck_type_rounds[0].first_truck_start_at}}</div>
                    </div>
                    <div class="border-left"></div>
                    <div class="w-50">
                        <div class="desc-5 color-blackshade-5 mb-1 text-right">Job status</div>
                        <div class="heading-9 text-right color-blue" >{{this.ticket_detail?.ticket?.status}}</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="this.ticket_detail?.ticket?.status =='Pending'">
                <div class="col-6">
                    <button class="mybtn bg-pink">Accept</button>
                </div>
                <div class="col-6">
                    <button class="mybtn bg-transparent color-red btn-border-red" >Decline</button>
                </div>
            </div>
        </div>
        <div *ngIf="this.detail_selected_tab == 'round_detail'">
            
            <ng-container *ngIf="this.ticket_detail?.ticket?.ticket_truck_type_rounds && (this.ticket_detail.is_started) === 0 && this.ticket_detail?.ticket.status !='Completed'">
                <ng-container *ngFor="let round of this.ticket_detail?.ticket?.ticket_truck_type_rounds">
                    <div class="desc-5 pb-2 pl-2">Round {{round.round_no}}</div>
                    <div class="dashboard-body-stats">
                        <div class="dashboard-contents">
                            <div class="w-50">
                                <div class="desc-5 color-blackshade-5 mb-1">Material taken out</div>
                                <div class="heading-9 color-blackshade-6 ">{{round.material_taken_out}}</div>
                            </div>
                            <div class="w-50">
                                <div class="desc-5 color-blackshade-5 mb-1 text-right">Dump site</div>
                                <div class="heading-9 color-blackshade-6  text-right">{{round.dump_site}}</div>
                            </div>
                        </div>
                        <div class="myhr"></div>
                        <div class="dashboard-contents">
                            <div class="w-50">
                                <div class="desc-5 color-blackshade-5 mb-1">Round Started</div>
                                <div class="heading-9 color-blackshade-6 ">{{round.driver_start_time | date:'shortTime'}}</div>
                            </div>
                            <div class="border-left"></div>
                            <div class="w-50">
                                <div class="desc-5 color-blackshade-5 mb-1 text-right">Round Ended</div>
                                <div class="heading-9 color-blackshade-6  text-right">{{round.end_time | date:'shortTime'}}</div>
                            </div>
                        </div>
                        <div class="myhr"></div>
                        <div class="dashboard-contents">
                            <div class="w-100">
                                <div class="desc-5 color-blackshade-5 mb-1">Notes</div>
                                <div class="heading-9 color-blackshade-6 "></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="this.ticket_detail?.ticket?.ticket_truck_type_rounds &&  this.ticket_detail.is_started === 1 && this.ticket_detail?.ticket.status !='Completed'">
                <ng-container *ngFor="let round of this.ticket_detail?.ticket?.ticket_truck_type_rounds">
                  
                    <div class="completed-round-div" *ngIf="round.driver_start_time !==null && round.end_time !==null">
                        <div  class="round_mini_{{round.id}}">
                            <div class="dashboard-contents justify-content-between p-10px">
                                <div>
                                    <div class="heading-9 pb-1 text-left">Round {{round.round_no}}</div>
                                    <div class="desc-5 color-blackshade-5 text-left">Completed</div>
                                </div>
                                <div>
                                    <div class="desc-5 color-blackshade-5 text-right mini-btn">View details<input type="hidden" value="{{round.id}}" class="round_no"></div>
                                </div>
                            </div>
                            <div class="dashboard-contents bg-white">
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Round started</div>
                                    <div class="heading-9 color-blackshade-6 ">{{ round.driver_start_time | date:'shortTime'}}</div>
                                </div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Round time</div>
                                    <div class="heading-9 color-blackshade-6 text-right">{{round.round_time}}</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="round_detail_{{round.id}}" style="display:none">
                            <div class="dashboard-contents justify-content-between p-10px">
                                <div>
                                    <div class="heading-9 pb-1 text-left">Round {{round.round_no}}</div>
                                    <div class="desc-5 color-blackshade-5 text-left">Completed</div>
                                </div>
                                <div>
                                    <div class="desc-5 color-blackshade-5 text-right detail-btn">Hide details<input type="hidden" value="{{round.id}}" class="round_no"></div>
                                </div>
                            </div>
                            <div class="dashboard-contents bg-white">
                            
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Material taken out</div>
                                    <div class="heading-9 color-blackshade-6 ">{{round.material_taken_out}}</div>
                                </div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Dump site</div>
                                    <div class="heading-9 color-blackshade-6  text-right">{{round.dump_site}}</div>
                                </div>
                            </div>
                            <div class="myhr"></div>
                            <div class="dashboard-contents bg-white">
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Round Started</div>
                                    <div class="heading-9 color-blackshade-6 ">{{round.driver_start_time | date:'shortTime'}}</div>
                                </div>
                                <div class="border-left"></div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Round Ended</div>
                                    <div class="heading-9 color-blackshade-6  text-right">{{round.end_time | date:'shortTime'}}</div>
                                </div>
                            </div>
                            <div class="myhr"></div>
                            <div class="dashboard-contents bg-white" >
                                <div class="w-100">
                                    <div class="desc-5 color-blackshade-5 mb-1">Notes</div>
                                    <div class="heading-9 color-blackshade-6 "></div>
                                </div>
                            </div>
                                
                            <br>
                        </div>
                        
                    </div>
                    <br>
                    <div *ngIf="round.driver_start_time !=null && round.end_time ==null">
                        <div class="desc-5 pb-2 pl-2">Round {{round.round_no}}</div>
                        <div class="dashboard-body-stats">
                            <div class="dashboard-contents">
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Material taken out</div>
                                    <div class="heading-9 color-blackshade-6 ">{{round.material_taken_out}}</div>
                                </div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Dump site</div>
                                    <div class="heading-9 color-blackshade-6  text-right">{{round.dump_site}}</div>
                                </div>
                            </div>
                            <div class="myhr"></div>
                            <div class="dashboard-contents">
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Round Started</div>
                                    <div class="heading-9 color-blackshade-6 ">{{round.driver_start_time | date:'shortTime'}}</div>
                                </div>
                                <div class="border-left"></div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Round Ended</div>
                                    <div class="heading-9 color-blackshade-6  text-right">{{round.end_time | date:'shortTime'}}</div>
                                </div>
                            </div>
                            <div class="myhr"></div>
                            <div class="dashboard-contents">
                                <div class="w-100">
                                    <div class="desc-5 color-blackshade-5 mb-1">Notes</div>
                                    <div class="heading-9 color-blackshade-6 "></div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </ng-container>

                <ng-container *ngIf="this.all_rounds_done  === false &&  this.ticket_detail.ticket?.status == 'Driving' && this.round_in_progress?.round_no">
                    <div class="row">
                        <div class="col-3">
            
                        </div>
                        <div class="col-6">
                            <div class="grey-div">
                                <div class="desc-5 text-center color-blackshade-5 pb-1">Job timer</div>
                                <div class="heading-12 text-center color-blackshade-6">
                                    <span *ngIf="getElapsedTime(this.jobTime) as elapsed">
                                        {{elapsed.hours <10 ? "0"+elapsed.hours : elapsed.hours}} : {{elapsed.minutes <10 ? "0"+elapsed.minutes : elapsed.minutes}} 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="grey-div">
                        <div class="row">
                            <div class="col-6">
                                <div class="pt-2">
                                    <div class="desc-5 color-blackshade-5 pb-1">Round in timer </div>
                                    <div class="heading-12 color-blackshade-6">
                                        <span *ngIf="getElapsedTime(this.roundTime) as elapsed">
                                            {{elapsed.hours <10 ? "0"+elapsed.hours : elapsed.hours}} : {{elapsed.minutes <10 ? "0"+elapsed.minutes : elapsed.minutes}} : {{elapsed.seconds <10 ? "0"+elapsed.seconds : elapsed.seconds}} 
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <button class="mybtn bg-white" (click)="handleEndRound(this.round_in_progress)">End round</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="(this.all_rounds_done ===true || this.ticket_detail?.ended_at !==null ) && !this.round_in_progress && !this.round_to_start">
                    <div class="row">
                        <div class="col-12" align="center">
                            <button class="mybtn3" (click)="handleAddRound()">Add round</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <div class="grey-div">
                                <div class="desc-5 text-center color-blackshade-5 pb-1">Job timer</div>
                                <div class="heading-12 text-center color-blackshade-6">{{this.ticket_detail?.total_time}}</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="grey-div bg-white">
                                <div class="desc-5 text-center color-blackshade-5 pb-1">Total time</div>
                                <div class="heading-12 text-center color-blackshade-6">{{this.ticket_detail?.driver_hours}}h {{this.ticket_detail?.driver_minutes}}m</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <textarea class="myinput" [(ngModel)]="this.notes_for_approval" placeholder="Notes for the approver"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <button class="mybtn bg-pink" (click)="handleSendApproval()">Send for approval</button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            
            <ng-container *ngIf="this.ticket_detail?.ticket?.ticket_truck_type_rounds && this.ticket_detail.is_started === 1 && this.ticket_detail?.ticket?.status === 'Completed'">
                <br>
                <br>
                <br>
                <div class="heading-11 text-center pb-2">Sent for approval</div>
                <div class="desc-7 text-center color-blackshade-5">Ticket ID {{this.ticket_detail?.ticket?.ticket_no}} is successfully sent for approval, you’ll be notified once it’s approved</div>
                <br>
                <ng-container *ngFor="let round of this.ticket_detail?.ticket?.ticket_truck_type_rounds">
                    <div class="completed-round-div" *ngIf="round.driver_start_time !==null && round.end_time !==null">
                        <div  class="round_mini_{{round.id}}">
                            <div class="dashboard-contents justify-content-between p-10px">
                                <div>
                                    <div class="heading-9 pb-1 text-left">Round {{round.round_no}}</div>
                                    <div class="desc-5 color-blackshade-5 text-left">Completed</div>
                                </div>
                                <div>
                                    <div class="desc-5 color-blackshade-5 text-right mini-btn">View details<input type="hidden" value="{{round.id}}" class="round_no"></div>
                                </div>
                            </div>
                            <div class="dashboard-contents bg-white">
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Round started</div>
                                    <div class="heading-9 color-blackshade-6 ">{{ round.driver_start_time | date:'shortTime'}}</div>
                                </div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Round time</div>
                                    <div class="heading-9 color-blackshade-6 text-right">{{round.round_time}}</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="round_detail_{{round.id}}" style="display:none">
                            <div class="dashboard-contents justify-content-between p-10px">
                                <div>
                                    <div class="heading-9 pb-1 text-left">Round {{round.round_no}}</div>
                                    <div class="desc-5 color-blackshade-5 text-left">Completed</div>
                                </div>
                                <div>
                                    <div class="desc-5 color-blackshade-5 text-right detail-btn">Hide details<input type="hidden" value="{{round.id}}" class="round_no"></div>
                                </div>
                            </div>
                            <div class="dashboard-contents bg-white">
                            
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Material taken out</div>
                                    <div class="heading-9 color-blackshade-6 ">{{round.material_taken_out}}</div>
                                </div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Dump site</div>
                                    <div class="heading-9 color-blackshade-6  text-right">{{round.dump_site}}</div>
                                </div>
                            </div>
                            <div class="myhr"></div>
                            <div class="dashboard-contents bg-white">
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1">Round Started</div>
                                    <div class="heading-9 color-blackshade-6 ">{{round.driver_start_time | date:'shortTime'}}</div>
                                </div>
                                <div class="border-left"></div>
                                <div class="w-50">
                                    <div class="desc-5 color-blackshade-5 mb-1 text-right">Round Ended</div>
                                    <div class="heading-9 color-blackshade-6  text-right">{{round.end_time | date:'shortTime'}}</div>
                                </div>
                            </div>
                            <div class="myhr"></div>
                            <div class="dashboard-contents bg-white" >
                                <div class="w-100">
                                    <div class="desc-5 color-blackshade-5 mb-1">Notes</div>
                                    <div class="heading-9 color-blackshade-6 "></div>
                                </div>
                            </div>
                                
                            <br>
                        </div>
                        
                    </div>
                    <br>
                 
                </ng-container>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <button class="mybtn bg-pink" [routerLink]="'/dashboard'">Back to dispatach</button>
                    </div>
                </div>
            </ng-container>
            <br>
        </div>
        <br><br/><br/>
        <br/><br/>
        <div class="sticky-bottom " align="center">
            
            <div class="mb-2" *ngIf="(this.ticket_detail.ticket?.status == 'Accepted' || this.ticket_detail.ticket?.status == 'Driving' ) && round_to_start?.round_no && !round_in_progress">
            
                <button  class="mybtn bg-pink  w-50 align-center" (click)="this.handleStartRound(round_to_start)">Start round {{round_to_start.round_no}}</button>
               
            </div>
            
            <div class="mb-2" *ngIf="(this.ticket_detail.ticket?.status == 'Accepted' && this.ticket_detail.ticket?.status != 'Driving' )">
                <button  class="mybtn bg-pink  w-50 align-center" (click)="handleDecline(this.ticket_detail.ticket)">Decline Job</button>
            </div>
        </div>
       
    </div>
</ng-container>

<div class="modal fade " *ngIf="!this.show_reason && this.ticket_to_decline && this.ticket_to_decline?.id!='' && this.ticket_to_decline !=null" style="display: block;padding-top: 40%;background: #0000005c;"  id="removeUserModal" tabindex="-1" role="dialog" aria-labelledby="companyeditLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                              
                  
                    <div class="dashboard-title " align="center"> Are you sure that you want to decline this job?</div>
                    <br/>
                
                <div class="row " >
                    <div class="col-md-3"></div>
                    <div class="col-md-6 p-3" style="display:flex;justify-content: center;" align="center">
                        <div >
                            <button data-dismissle="modal" class="mybtn bg-pink width-fit-content mybtn-padding" (click)="getReason(this.ticket_to_decline)" >Yes</button>
                        </div>
                    
                        <div  class="ml-2">
                            <button data-dismissle="modal" class=" ml-2 mybtn  btn-border-pink   width-fit-content mybtn-border mybtn-padding" (click)="cancelDecline()" >No</button>
                        </div>
                    </div>
                
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade "*ngIf="this.show_reason && this.ticket_to_decline && this.ticket_to_decline?.id!='' && this.ticket_to_decline !=null" style="display: block;padding-top: 40%;background: #0000002c;"  id="changeApprover" tabindex="-1" role="dialog" aria-labelledby="companyeditLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                    <div class="dashboard-title " align="center">Reason for declining the job?</div>
                    <br/>
                    <div class="row mb-14 mt-2" align="center">               
                       

                        <div class="col-md-12" >
                            <span class="text-danger" *ngIf="reason_error!=''">{{reason_error}}</span>
                            <textarea placeholder="Type here..." (change)="setReason($event)" class="form-control" rows="4"></textarea>
                        </div>

                    </div>
              
                <br/>
              
                <div class="row " align="center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="display:flex;justify-content: center;" align="center">
                        <div >
                            <button *ngIf="!loading_reject" data-dismissle="modal" class="mybtn bg-pink width-fit-content mybtn-padding" (click)="declineHandler()" >Decline</button>
                            <button *ngIf="loading_reject"  class="mybtn bg-pink width-fit-content mybtn-padding" disableds >Processing..</button>
                        </div>
                    
                        <div >
                            <button data-dismissle="modal" class=" ml-2 mybtn btn-border-pink   width-fit-content mybtn-border mybtn-padding" (click)="cancelDecline()" >Cancel</button>
                        </div>
                    </div>
                
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>