@import url('../../../../../assets/css/trucking-dashbord-style.css');

.user-profile-pic{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 33%;
    border: 3px solid white;
}


.body-content-4 {
    padding: 41px 60px 67px 34px;
}

.mybtn-yellow-border{
    background: white !important;

    border: 1px solid #17A1FA !important;

    color: #17A1FA !important;
}

.dashbord-inner-div2 {
    border: 1px solid #ECECEC;
    border-radius: 10px;
    padding:0px;
}

.styled-button2 {
    width: 150px;
    height: 40px;
}

.dashboard-title-1{
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    line-height: 23px;

    color: #111727;
}
.heading_txt{
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 16px;

    color: #111727;
}
.text_txt{
    font-family: 'Gilroy';
    font-size: 13px;
    line-height: 13px;

    color: rgba(104, 105, 109, 1);
}

.user-table tr th{
    font-family: 'Gilroy' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 16px !important;
    color: #68696D !important;
}

.user-table tr td{
    font-family: 'Gilroy-SemiBold' !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #68696D !important;
}

.table{
    border: 1px solid #E1E1E1;
    border-radius: 15px;

    margin-bottom: 0rem !important;
}

.table td, .table th {
    border-top: 1px solid #E1E1E1 !important;
}

.btn-add{
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.btn-add2{
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 16px;
    color: #17A1FA;
    background: white !important;
    border: 1px solid #17A1FA !important;
    border-radius: 4px!important;
    padding: 12px 30px !important;
    height: 30px !important;
    width: 75px;
}
.btn_add22{
    border-radius: 4px!important;
}
.plr-50px {
    padding: 10px 25px !important;
}
.title-02{
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    line-height: 23px;

    color: #111727;

}

.field__input {
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding: 1.25rem 1rem 0rem 1rem;
    font-family: 'Gilroy SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #111727;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.field__label {
    position: absolute;
    left: 1rem;
    top: calc(50% - .5em);
    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;

    font-family: 'Gilroy' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 16px !important;

    color: #68696D !important;
}

.field__input_label2 {
    font-family: 'Gilroy SemiBold' !important;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #111727 !important;
    background: white !important;
}

.field__input_label22 {
    font-family: 'Gilroy SemiBold' !important;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #68696D !important;
    background: white !important;
}

@media (max-width: 768px) {
    .main-content{
        padding: 20px !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .max-width-50{
        width: 100% !important;
    }
}
.icon-bottom-right2 {
    position: absolute;
    right: 5px;
    bottom: 7px;
    top: 15px;
}

.required_field:after {
    content: "*";
    position: absolute;
    top: 0;
    right: -12px;
    color: #F73333;
}


.selectlistdiv {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 7px 12px 13px 12px;
    display: block;
    position: absolute;
    z-index: 1;
    min-width: 100%;
}

.selectlistitems {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 16px;
    color: #88898B;
    padding: 0;
    margin: 0;
    list-style: none;
}

.selectlistitems li {
    padding: 5px 0;
    cursor: pointer;
}

.selectlistitems li.active {
    color: #282D40;
}

.myinput4 {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #68696D;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.myinput4-new {
    border-radius: 10px;
    height: 33px;
}


/* .delete-modal2 {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 18px 21px 20px 21px;
    position: absolute;
    width: max-content;
    bottom: 45px;
    left:-45px;
    display: none;
} */
.delete-modal2 {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 18px 21px 20px 21px;
    position: fixed;  /* Changed from 'absolute' to 'fixed' */
    width: max-content;
    top: 65%;  /* Center vertically */
    left: 50%; /* Start by moving the left edge to the middle */
    transform: translate(-50%, -50%); /* Adjust so the center of the div is in the middle */
    display: none;
}



.border-blue{
    border: 1px solid #17A1FA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.text-tc{
    color:#17A1FA;
}

.remove-title{
    width: 190px;
}

.body-content-4 {
    padding: 15px 15px 40px 15px;
}

.border-div{
    border: 1px solid #0000001a !important;
}
.main-inner-body-container {
    padding: 0px 15px 17px 15px;
}
.project-profile-header-container {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    background-color: #fff;
}

.project-profile-header-left > img {
    margin-right: 10px;
}

.heading-1-400 {
    font-family: "Gilroy-Bold" !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}
.mt-15px {
    margin-top: 15px;
}
#content {
    min-height: 90vh;
}




/* ******************************* */


.mybtn-yellow-border {
    background: white !important;
    border: 1px solid #fff69f !important;
}

.body-content2 {
    padding: 15px 15px 15px 15px !important;
}

.border-div {
    border: 1px solid #0000001a !important;
}

.main-inner-body-container {
    padding: 0px 15px 17px 15px;
}

.mt-15px {
    margin-top: 15px;
}

.project-profile-header-container {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    background-color: #fff;
}

.styled-button {
    background-color: rgba(23, 161, 250, 1) !important;
    border: none;
    border-radius: 10px;
    /* padding: 10px 20px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 17px;
}



.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.more-modal {
    width: 505px;
    position: relative;
    z-index: 1051;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}

.page-heading-title {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.81px;
    text-align: left;
    color: #000000;

}

.page-heading-title1 {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.15px;
    text-align: left;
    color: rgba(104, 105, 109, 1);
}

.text-grey-shade2 {
    color: #68696D !important;
}

.title-52 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.field-input2 {
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    height: 34px;
    padding: 9px 5px;
    width: 100%;
}

.address-modal input,
.address-modal select,
.address-modal .field-input2 {
    font-family: 'Gilroy-Bold' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.33px !important;
    text-align: left;
    color: #000000 !important;
}

.top-right-icon2 {
    position: absolute;
    right: 6px;
    top: 6px;
}

.img_div1 {
    width: 150px;
    height: 113px;
    padding: 2px 10px 2px 10px;
    gap: 1px;
    opacity: 0px;
}

.img_div {
    height: 109px;
    width: 92px;
    border: 1px solid rgba(23, 161, 250, 1);
    padding: 4px;
    margin: 5px;
}

.sect_2 {
    height: 180px;
    width: 480px;
    border: 1px solid rgba(225, 225, 225, 1);
    padding: 4px;
    margin: 5px;
}

.field__labell {
    display: block;
    /* Ensure it behaves as a block element */
    margin-bottom: 10px;
    /* Add margin to the bottom */
    margin-top: -83px !important;
    padding-left: 14px;
}

.select-icon-right {
    bottom: -13px !important;
}

.color_blur {
    color: rgba(104, 105, 109, 1) !important;
}

.table-responsive {
    max-height: 210px;
    /* Adjust this value based on your needs */
    overflow-y: auto;
    /* Enables vertical scrolling */
    overflow-x: hidden;
    /* Keeps horizontal scrolling disabled */
}

.custom-select-container {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    z-index: 1000;
    border: 1px solid #ddd;
}

.dropdown-header {
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.dropdown-item {
    padding: 8px 10px;
    display: flex;
    align-items: center;
}

.dropdown-item label {
    margin-left: 8px;
}

.select-display {
    min-height: 20px;
}

.open .fa-caret-down {
    transform: rotate(-180deg);
}

.btn-sm {
    padding: 5px 10px;
    margin: 10px;
}




/* multi-select-dropdown.component.css */
.dropdown-menu3 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid #17A1FA;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    z-index: 1000;
    display: block;
    padding: 8px;
}

.fake-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: rgba(104, 105, 109, 1);
    font-size: 16px;
    /* Adjust the size as needed */
    font-weight: normal;
    /* Normal weight to avoid thickness */
    font-style: normal;
    /* Ensure it's not italic */
}

.fake-checkbox.checked {
    background-color: #17A1FA;
    border-color: #aaa;
    /* Darker border for visibility */
}

/* Style to indicate unselected */
.fake-checkbox:not(.checked) {
    background-color: white;
}

.fakeOk {
    border: 1px solid #ccc;
    Width: 75px;
    Height: 30px;
    Top: 5px;
    Left: 37px;
    border-radius: 4px;
    Padding: 6.5px, 10px, 6.5px, 10px
        /* gap:10px; gap: */
}


.input-field3 {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fa-caret-down {
    margin-left: auto;

    font-size: 20px;
    color: rgba(136, 137, 139, 1);
}
.float-right {
    float: right;
}
.center_item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 5px;

}

.fake-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.fake-checkbox.checked {
    background-color: #17A1FA;
    border-color: #aaa;
}

.fake-checkbox:not(.checked) {
    background-color: white;
}

.fakeOk {
    border: 1px solid #ccc;
    Width: 75px;
    Height: 30px;
    Top: 5px;
    Left: 37px;
    border-radius: 4px;
    Padding: 6.5px, 10px, 6.5px, 10px
}

.form-group3 {
    width: 230px;
    height: 55px;
    padding: 2px 10px 2px 10px;
    gap: 1px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(225, 225, 225, 1);
    margin-top: 21px;
    margin-left: 32px;

}

.btn-back{
    width: 75px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 0.375rem 0.75rem;
    border-radius: 4px !important;
    border: 1px solid #17A1FA;
    color: #17A1FA;

}

.mybtnn2{
    width: 75px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 0.375rem 0.75rem;
    border-radius: 4px !important;
}

.required_field11:after{
    content: "*";
    position: absolute;
    top: -14px;
    right: 4px;
    color: #F73333;
    font-size: 15px;
}
.required_field12:after{
    content: "*";
    position: absolute;
    top: -14px;
    left: 4px;
    color: #F73333;
    font-size: 15px;
}

.main-project-setting-container {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}
.project-settings-table-header {
    background: rgba(202, 234, 255, 1) !important;
    border-width: 1px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: #e1e1e1 !important;
    padding: 0px 10px !important;
    vertical-align: middle !important;
}



.add-btn{
    font-family: 'Gilroy-Bold' !important;
font-size: 14px !important;
font-weight: 400 !important;
line-height: 17.33px;
text-align: center;

}

.manage-users-text{
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    font-weight: 400;
    line-height: 24.76px;
    text-align: left;

}


.profile-table-head{
    font-family: 'Gilroy';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #88898B;

}
.profile-table-value{
    font-family: 'Gilroy-SemiBold';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    color: #68696D;
}
.table td, .table th ,.table tr{
border-top: 0px !important;
border-bottom: 1px solid #dee2e6 !important;
}
.table td, .table th
{
    padding:12px;
}

.styled-button{
    background-color:rgba(23, 161, 250, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px; /* Border radius */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow at the bottom */
    cursor: pointer;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    padding: 7px 14px !important;


}

.project-settings-table-header {
    background: rgba(202, 234, 255, 1) !important;
    border-width: 1px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: #e1e1e1 !important;
    padding: 0px 10px !important;
    vertical-align: middle !important;
    height: 34px;
}

.inner_main_shadow{
  box-shadow: 0px 4px 4px 0px #00000040 inset;

}
.tc-users .btn-back{
  border: 1px solid rgba(23, 161, 250, 1) !important;
}
