<div class="wrapper">
    <app-dashboard-header></app-dashboard-header>
    <div id="content">
        <app-dashboard-top-header></app-dashboard-top-header>
       
        <div class="body-content">
            <div class="welcome-text">Dashboard</div>
            <div class="dashboard-title">Settings</div>
            <br>
            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <div class="sub-menu">
                        <div class="sub-menu-profile-div">
                            <div class="sub-menu-icon-div">
                                <img src="assets/icons/user-icon.svg">
                            </div>
                            <div class="sub-menu-content">
                                Company profile
                            </div>
                        </div>
                        <br>
                        <div class="myhr"></div>
                        <br>
                        <ul class="sub-menu-ul">
                            <li>
                                <a href="#">
                                    <div class="sub-menu-link">
                                        <img src="assets/icons/setting.svg">
                                        <span>Notifications</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-menu-link">
                                        <img src="assets/icons/setting.svg">
                                        <span>Company profile</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-menu-link">
                                        <img src="assets/icons/setting.svg">
                                        <span>Add/manage users</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-menu-link">
                                        <img src="assets/icons/setting.svg">
                                        <span>Edit personal profile</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8">
                    <div class="setting-content-page">
                        <div class="dashboard-title">Company settings</div>
                        <br>
                        <div class="uplodfile-div">
                            <div class="uplodfile-icon-div driver-signup-file">
                                <img src="assets/icons/user-icon.svg">
                            </div>
                            <div class="uplodfile-content">
                                <div>Upload<br>your photo <small>(optional)</small></div>
                            </div>
                        </div>
                        <br>
                        <label class="field text-field">
                            <input class="field__input" placeholder="" value="bnb builders">
                            <span class="field__label-wrap">
                            <span class="field__label">Company name</span>
                            </span>
                        </label>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="field text-field">
                                    <input class="field__input" placeholder="" value="Info@companyname.com">
                                    <span class="field__label-wrap">
                                    <span class="field__label">Email</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label class="field text-field">
                                    <input class="field__input" placeholder="" value="+1 302 2028 212">
                                    <span class="field__label-wrap">
                                    <span class="field__label">Contact No</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <label class="field text-field">
                            <input class="field__input" placeholder="" value="Street 1, Block B, Canada">
                            <span class="field__label-wrap">
                            <span class="field__label">Address</span>
                            </span>
                        </label>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="field text-field">
                                    <input class="field__input" placeholder="" value="Vancouver">
                                    <span class="field__label-wrap">
                                    <span class="field__label">City</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label class="field text-field">
                                    <select class="field__input icon-none">
                                        <option>British Columbia</option>
                                    </select>
                                    <i class="fa fa-caret-down input-icon-right" aria-hidden="true"></i>
                                    <span class="field__label-wrap">
                                        <span class="field__label">Province</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="field text-field">
                                    <input class="field__input" placeholder="" value="302 2028 212">
                                    <span class="field__label-wrap">
                                    <span class="field__label">WSBC number</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label class="field text-field">
                                    <input class="field__input" placeholder="" value="302-2028-212">
                                    <span class="field__label-wrap">
                                    <span class="field__label">Business No.</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <label class="field text-field">
                            <input class="field__input" placeholder="" value="Street 1, Block B, Canada">
                            <span class="field__label-wrap">
                            <span class="field__label">Mailing address</span>
                            </span>
                        </label>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input checkbox-size" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label keepmelogin" for="flexCheckDefault">
                                    Same as above
                            </label>
                        </div>
                        <br>
                        <button class="mybtn mybtn-back-pink width-fit-content">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>