
<body class="">
    <div class="header-bar header-bar2">
       <div></div>
        <div>
            <img src="../../assets/driver-images-mobile/logo.png" width="147px">
        </div>
        <div>
        </div>
    </div>
    <div class="custom-padding11">
        <div class="title-2 mb-52">Account Created Successfully.</div>
        <div class="bg-very-light-grey mb-69">
            <img src="../../assets/driver-images-mobile/img-1.png" width="100%" class="">
        </div>
        <button type="button" class="btn bg-pink btn-padding2 w-100 mb-28" [routerLink]="'/dashboard'">Go to dashboard</button>
    </div>
</body>