<app-dashboard-top-header-driver [is_dashboard]="false" [header_text]="'Change Password'"></app-dashboard-top-header-driver>
<div align="center" class="custom-padding9">
    <img src="../assets/driver-images-mobile/change-pass.svg" alt="" class="mb-33">
    <div class="form-group text-left mb-25">
        <label class="title-8 mb-26 text-black-shade5 ml-3">Enter Old Password</label><br>
        <input type="password" class="myinput2" [(ngModel)]="this.old_password" placeholder="">
    </div>
    <div class="form-group text-left mb-25">
        <label class="title-8 mb-26 text-black-shade5 ml-3">New Password</label><br>
        <input type="password" class="myinput2" [(ngModel)]="this.new_password" (input)="checkPassword($event)"  placeholder="">
    </div>
    <div class="form-group text-left mb-25">
        <label class="title-8 mb-26 text-black-shade5 ml-3">Confirm Password  </label><br>
        <input type="password" class="myinput2" placeholder="" [(ngModel)]="this.confirm_password" >
    </div>
    <div class="row p-1">
        <div class="col-md-12 mb-1">
            <div>
                <div class="text-danger d-flex" *ngIf="atleast_eight === true">
                    <i class="fa fa-circle" ></i>
                    <div class="desc-2 ml-1">Atleast 8 character</div>
                </div>
                <div class="text-danger d-flex" *ngIf=" upper_lower === true">
                    <i class="fa fa-circle " ></i>
                    <div class="desc-2 ml-1">Atleast one uppercase and one lowercase character</div>
                </div>
                <div class="text-danger d-flex" *ngIf="number_symbol_space === true">
                    <i class="fa fa-circle "  ></i>
                    <div class="desc-2 ml-1">Atleast one number, symbol, or whitespace character</div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn bg-pink w-100 btn-padding no-filter br-10" *ngIf="!loading_code" (click)="verifyPassword()">Change Password </button>
    <button type="button" class="btn bg-pink w-100 btn-padding no-filter br-10" *ngIf="loading_code" disabled>Processing.. </button>
</div>

<div *ngIf="current_modal!='' && current_modal=='verify-code'" class="modal fade show" id="verifyotp" role="dialog" style="display: block;padding-top: 0%;background: #0000005c;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content br-10">
                <div class="modal-body bg-grey2 custom-padding10 br-10" align="center">
                    <img src="../assets/driver-images-mobile/steric.svg" alt="" class="mb-22">
                    <div class="title-8 text-center mb-24">We have sent you an OTP at<br>your email address.</div>
                    <div class="d-flex justify-content-space-evenly mb-17">
                        <!-- <input type="text" class="otpinput">
                        <input type="text" class="otpinput">
                        <input type="text" class="otpinput">
                        <input type="text" class="otpinput"> -->
                        <ng-otp-input  (onInputChange)="onOtpChange($event)"   [config]="{length:4}"></ng-otp-input>
                    </div>
                    <div class="title-17 text-center mb-20 text-black-shade6">{{this.timer_display}}</div>
                    <div  class="title-8 text-center mb-24" *ngIf="this.show_resend">Your OTP is expired. <span class="text-pink" (click)="verifyPassword()">Resend.</span></div>
                    <div class="title-8 text-center mb-24" *ngIf="!this.show_resend">Didn’t receive a code? <span class="text-pink" (click)="verifyPassword()">Resend.</span></div>

                    <button type="button" class="btn bg-pink w-100 btn-padding br-10" *ngIf="!loading_password" (click)="handleVerifyCode()">Verify</button>
                    <button type="button" class="btn bg-pink w-100 btn-padding br-10" *ngIf="loading_password" disabled>Processing..</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="otpsuccess" *ngIf="current_modal !='' && current_modal=='success'" role="dialog" style="display: block;padding-top: 0%;background: #0000005c;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content br-10">
                <div class="modal-body bg-grey2 custom-padding10 br-10" align="center">
                    <img src="../assets/driver-images-mobile/change-pass.svg" alt="" class="mb-39">
                    <div class="title-8 text-center mb-45">Password changed succesfully.</div>
                    <button type="button" class="btn bg-pink w-100 btn-padding br-10" [routerLink]="'/driver-profile'" data-dismiss="modal">Go back to Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>