@import url("../../../../../assets/css/trucking-style3.css");
@import url("../../../../../assets/css/margins.css");

.inner_main_shadow {
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.min-height-50 {
  min-height: 55px;
  margin-left: 23px;
  margin-top: 0px;
}
.myhr {
  border-bottom: 1px solid #00000023;
}
.custom_button_ticket {
  color: #fff !important;
  width: 85px !important;
  background: #17a1fa !important;
  height: 28px !important;
  padding: 4px, 10px, 4px, 10px !important;
  border-radius: 4px !important;
  gap: 10px !important;
  display: flex;
  justify-content: center !important; /* Center horizontally */
  align-items: center !important; /* Center vertically */
}
.td_custom {
  display: flex;
  justify-content: center; /* Center horizontally */
}
.dowloadd_btn {
  width: 136px;
  height: 35px;
  padding: 0px !important;
}

.borderr {
  border-radius: 5px;
  border: 1px solid rgba(225, 225, 225, 1);
}
.txt_cntr {
  display: flex !important;
  align-content: center !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}
.txt_cntr2 {
  display: flex !important;
  align-content: center !important;
  flex-wrap: wrap !important;
}

.myhr {
  color: black;
}

@media only screen and (min-width: 767px) and (max-width: 1034px) {
  .field__input {
    height: 90px !important;
    padding: 3.25rem 1rem 0rem 1rem !important;
  }
}

@media only screen and (min-width: 1034px) and (max-width: 1270px) {
  .field__input {
    height: 70px !important;
    padding: 2.25rem 1rem 0rem 1rem !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1400px) {
  .field__label {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 11px !important;
    line-height: 13px !important;
    color: #88898b;
  }
}

.with-auto {
  width: max-content;
}

.setting-content-page {
  background-color: #fff;
  padding: 15px 0px 15px 0px !important;
  border-radius: 10px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  position: relative;
}

.nav-item {
  height: 40px !important;
  width: 150px !important;
}

.grey-without-text {
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;

  color: #68696d;
}
.grey-without-text-bold {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #68696d;
}
.border-1px-grey {
  border: 2.5px solid #8c8b8b;
  padding: 0px 20px;
  color: #8c8b8b;
  font-family: "Gilroy-Bold";
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0em;
}

.without-tragget-ticket-row > td {
  border-top: 1px solid #f63333;
  border-bottom: 1px solid #f63333;
}
.grey-count-text {
  font-family: "Gilroy-Bold";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffff;
}

.grey-bg-img {
  background: url("../../../../../assets/icons/grey-without-tragget-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 49px;
  padding-top: 5px;
  height: 33px;
}

@media (max-width: 768px) {
  .modal-image {
    right: 0px !important;
  }
}

.marginn-LR {
  margin-left: 15px;
  margin-right: 15px;
}

.border-div {
  border: 1px solid #0000001a !important;
}
.text_center {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.text_bold {
  font-family: "Gilroy-Bold";
}
.da-number-div-red {
  border: 10px solid rgba(255, 77, 77, 1) !important;
}
.da-number-div2 {
  height: 110px !important;
  width: 110px !important;
}
.da-number3 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 79px;
  color: rgba(140, 139, 139, 1);
}
.title_22 {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(141, 141, 141, 1);
}

.buy_tic_btn {
  width: 150px !important;
  height: 40px !important;
  border-radius: 5px !important;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.filter_btns {
  max-height: 45px !important;
  padding-top: 23px !important;
}

.input-icon-right {
  position: absolute;
  right: 9px;
  bottom: 4px;
}
.mt_10 {
  margin-top: 10px !important;
}
.mb_10 {
  margin-bottom: 10px !important;
}
.mb_15 {
  margin-bottom: 15px !important;
}
.title-21 {
  font-family: "Gilroy-Bold";
}
.topright2 {
  position: absolute;
  top: 6px;
  right: 10px;
  background: #caeaff;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
}

.tab_btnn {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  font-family: "Gilroy-Bold" !important;
  width: 132px !important;
  height: 35px !important;
  border-radius: 5px !important;
}

thead {
  background-color: rgba(202, 234, 255, 1);
}

.mytable thead tr th {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
}
.round_btn {
  background: rgba(51, 209, 162, 1);
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  font-family: "Gilroy-SemiBold";
}

.title-52 {
  margin-bottom: 6px;
}

.cust_drop {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 14px;
  padding: 9px 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.cust_drop .list-item,
.list-item {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.33px;
  color: #68696d;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  background: #caeaff;
}

.icon-center-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.input-div {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  position: relative;
}

.title-5-new2 {
  font-family: "Gilroy";
  color: #68696d !important;
  font-size: 13px;
}
.title-5-new33 {
  line-height: 17.33px !important;
  color: #68696d !important;
}

.title_22 {
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #68696d;
}

.nav-link.active {
  box-shadow: 0px 4px 4px 0px #00000040 inset !important;
}

.main-inner-body-container,
.p-10px {
  padding: 0px 15px 17px 15px !important;
}
.mt-15px {
  margin-top: 15px !important;
}

.div-grey-bg {
  min-height: 250px !important;
  background: #d9d9d9 !important;
  padding: 10px !important;
}

.text-13px-semibold {
  font-family: "Gilroy";
  font-size: 13px;
  font-weight: 600;
  line-height: 15.93px;
}

.text-13px-semibold2 {
  font-family: "Gilroy";
  font-size: 13px;
  font-weight: 400;
  line-height: 15.93px;
}
.text-grey {
  color: #88898b;
}

.border-div {
  border-radius: 10px;
  padding: 10px;
  background: white !important;
}

.myhr-1px {
  border: 1px solid #e1e1e1 !important;
  margin-bottom: 10px;
}

.text-bold {
  font-weight: bold;
}

.text-dark {
  color: #000000 !important;
}

.max-width-50px {
  max-width: 100px;
  line-break: anywhere !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.sa_selected_filter {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.33px;
  color: #000000;
}

.title-5-new33_active {
  color: #000000 !important;
}
.cur_p {
  cursor: pointer;
}

.sa_select {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.15px;
  text-align: left;
  color: #88898b;
}

.heading-1-400 {
  font-family: "Gilroy-Bold" !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.no-shadow{
  box-shadow: none !important;
}
