<div class="wrapper">
    <app-dashboard-header  [active_menu]="this.active_menu"></app-dashboard-header>
    <div id="content">
        <app-dashboard-top-header ></app-dashboard-top-header>
        <div class="body-content ">
            <!-- <div class="title-11 text-black-shade text-center mb-12">
                Closed tickets
            </div> -->
            <div class="">
                <div class="row setting-content-page border-div mx-0 ">
                    <div class="col-md-4 px-0" style=" display: flex; align-content: center; flex-wrap: wrap; ">
                        <img _ngcontent-fbu-c48="" src="assets/icons/a_dec_tickets.svg" class="height-26px">
                        <div class="title-11 text-black-shade mb-1 ml-2 " >
                            Declined tickets
                        </div>
                    </div>
                    <div class="col-md-8 px-0">
                        <div class="d-flex justify-content-between float-right">
                            <div class="ml-3">
                                <nav>
                                    <div class="nav nav-pills nav-fill ticket-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link  changeCalendar btn-customer  justify-content-center align-content-center " id="nav-close-tickets-tab" data-type="close-tickets-detail" data-toggle="tab" [routerLink]="'/cust-closed-tickets'" role="tab" aria-controls="nav-home" aria-selected="true">Closed tickets</a>
                                        <a class="nav-item nav-link  active changeCalendar btn-customer  justify-content-center align-content-center mr-0 " id="nav-declined-tickets-tab" data-type="declined-tickets-detail" data-toggle="tab" [routerLink]="'/cust-declined-tickets'" role="tab" aria-controls="nav-profile" aria-selected="false">Declined tickets</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row setting-content-page border-div mx-0 inner_main_shadow">
                    <div class="col-md-12">
                        <div class=" " style="height: 55px !important;" ></div>

                        <div class="row mb-15">
                            <div class="col-lg-5 col-md-4">
                                <div class="setting-content-page custom-padding3  px-0 py-0 mb-0 " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                                    <div class="title-11 text-black-shade mb-1 px-0">
                                        Declined tickets
                                    </div>
                                    <div class="title-14 text-black-shade mb-1">
                                        Vendors or drivers
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4  mb-10 px-1">
                                <!-- <div class="position-relative inputdiv " style=" min-height: 44px;display: flex;  flex-wrap: wrap;align-content: center;justify-content: center;">
                                    <div class="title-12 text-black-shade">JUM 2024</div>

                                     <select class="myinput border-none p-0 pb-1 icon-none title-5-new6 text-color-black-shade4" (change)="handleFilterByProject($event)">
                                        <option value="">Select </option>
                                        <ng-container *ngFor="let company of this.companies_list">
                                            <option *ngIf="company?.id && ((this.loggedinUser.id == company?.id && company?.role_id==6) || company?.account_type=='Driver')" [value]="company?.id+ company.full_name">{{company.account_type=='Driver'? company.full_name:company.company_name}}</option>
                                        </ng-container>
                                    </select>
                                     <img src="../../assets/icons/drop_downn.svg" class="input-icon-right">
                                </div> -->
                            </div>
                            <div class="col-lg-2 col-md-4  mb-10 px-1">
                                <div class="input-div  getinputfield cur_p">
                                    <div class="title-5-new2 text-color-black-shade5 text-left"> Fileter by Vendor</div>
                                    <div class="myinput-new sa_select selected" *ngIf="!this.selected_company || this.selected_company == null">
                                        Select
                                    </div>
                                    <div class="myinput-new selected sa_selected_filter" *ngIf="this.selected_company != null ">
                                        {{this.selected_company.company_name }}
                                    </div>
                                    <img src="../../assets/images/dropdown.svg" class="icon-center-right">
                                    <div class="input-popup-div cust_drop companies_list" style="display: none;">
                                        <div class="title-5-new2 text-color-black-shade5 mb-4px">
                                            Vendor
                                        </div>
                                        <div class="title-18 text-right mb-2px d-none">Default</div>
                                        <div (click)="handleFilterByCompany('','')"  class="d-flex justify-content-between mb-5px list-item" >
                                            <div [ngClass]="this.selected_company != null ? 'title-5-new33':'title-5-new33 text-color-black-shade7'" >
                                                All
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let company of this.companies_list">

                                            <div (click)="handleFilterByCompany(company?.id+ company.full_name, company?.company_name)" class="d-flex justify-content-between  mb-5px list-item" *ngIf="company?.id && company?.account_type=='Trucking Company'" >
                                                <div  *ngIf="company?.id && company?.account_type=='Trucking Company'" [ngClass]="this.selected_company.id == company.id ? 'title-5-new33 title-5-new33_active':'title-5-new33 text-color-black-shade7'" >
                                                    {{company?.company_name}}
                                                </div>
                                            </div>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-2 col-md-4  mb-10 px-1">
                                <div class="position-relative inputdiv" >
                                    <div class="title-12 text-black-shade">Fileter by Vendor</div>
                                    <select class="myinput border-none p-0 pb-1 icon-none title-5-new6" (change)="this.handleFilterByCompany($event, '')">
                                        <option value="">All</option>
                                        <ng-container *ngFor="let company of this.companies_list">
                                            <option *ngIf="company?.id && company?.account_type=='Trucking Company'" [value]="company?.id+ company.full_name">{{company.account_type=='Driver'? company.full_name:company.company_name}}</option>
                                        </ng-container>

                                    </select>
                                     <img src="../../assets/icons/drop_downn.svg" class="input-icon-right">
                                </div>
                            </div> -->
                            <div class="col-lg-3 col-md-4  mb-10 px-1">
                                <div class="d-flex align-items-center percent_div" *ngIf="ratio!=null">
                                    <div class="title-5-new7 text-color-black-shade3">From dispatched tickets</div>
                                    <div class=" div-3 text-red title-18 ml-3" >{{ratio}} %</div>
                                </div>
                            </div>
                        </div>



                        <!-- <div class="setting-content-page custom-padding3">
                            <div class="title-11 text-black-shade text-center mb-12">
                                Declined tickets
                            </div>
                        </div>
                        <div class="row mb-15">
                            <div class="col-lg-3 col-md-6  mb-10">
                                <div class="position-relative inputdiv">
                                    <div class="title-12 text-black-shade">By Vendor</div>
                                    <select class="myinput border-none p-0 pb-1 icon-none icon-none title-5-new6" (change)="this.handleFilterByCompany($event)">
                                        <option value="">All</option>
                                        <ng-container *ngFor="let company of this.companies_list">
                                            <option *ngIf="company?.id && company?.account_type=='Trucking Company'" [value]="company?.id+ company.full_name">{{company.account_type=='Driver'? company.full_name:company.company_name}}</option>
                                        </ng-container>

                                    </select>
                                    <img src="../../assets/icons/construction-icon.png" class="input-icon-right">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6  mb-10">

                            </div>
                            <div class="col-lg-6 col-md-12  mb-10">
                                <div class="d-flex align-items-center justify-content-center" *ngIf="ratio!=null">
                                    <div class="title-5-new7 text-color-black-shade3">From accepted tickets</div>
                                    <div class="title-18 div-3 text-red ml-22" >{{ratio}} %</div>
                                </div>
                            </div>
                        </div> -->
                        <div id="pnlEventCalendar"  class="sa_cus_calender sa_cc_dec_calender" style="width:100%;" (click)="getVal()"></div>
                        <div id="jobsData" style="display:none">{{this.calendar_data|json}}</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade show " id="myModalDeclined" tabindex="-1 " role="dialog " aria-labelledby="myModalLabel ">
    <div class="modal-dialog max-width-50px " role="document ">
        <div class="modal-content br-15">
            <div class="modal-body ">
                <button type="button" class="close" data-dismiss="modal"><img src="../../assets/icons/cross-box_2.svg" alt=""></button>

                <div class="row mb-15">
                    <div class="col-lg-4 col-md-4 px-0 ">
                        <div class="setting-content-page custom-padding3  py-0 mb-0 " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                            <div class="title-11 text-black-shade mb-1">
                                Declined tickets
                            </div>
                            <div class="title-14 text-black-shade mb-1">
                                Vendors or drivers
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2 col-md-4  mb-10 px-1">
                        <label class="field text-field">
                            <input class="field__input height-43px filter_btns" (change)="changeDate($event)"  placeholder="All" value="" type="date" style=" padding-right: 0 !important;  ">
                            <span class="field__label-wrap">
                               <span class="field__label field__label2" style="font-size: 13px !important; color: rgba(104, 105, 109, 1);  margin-top: -5px !important; margin-left: -6px !important;" >Filter by date</span>
                            </span>
                        </label>
                    </div> -->


                    <div class="col-lg-3 col-md-4 pr-1 pl-1">
                        <label class="field text-field">
                            <input class="field__input height-43px filter_btns" (change)="changeDate($event)"  placeholder="All" value="" type="date" style=" padding-right: 0 !important;  ">
                            <span class="field__label-wrap">
                               <span class="field__label field__label2" style="font-size: 13px !important; color: rgba(104, 105, 109, 1);  margin-top: -2px !important; margin-left: -2px !important;" >Filter by date</span>
                            </span>
                        </label>
                    </div>



                    <div class="col-lg-3 col-md-4  mb-10 px-1">
                        <div class="input-div  getinputfield2 cur_p">
                            <div class="title-5-new2 text-color-black-shade5 text-left"> Filter by Vendor</div>
                            <div class="myinput-new sa_select selected" *ngIf="!this.selected_list_company || this.selected_list_company == '' ">
                                Select
                            </div>
                            <div class="myinput-new selected sa_selected_filter" *ngIf="this.selected_list_company != '' ">
                                {{this.selected_list_company.company_name }}
                            </div>
                            <img src="../../assets/images/dropdown.svg" class="icon-center-right">
                            <div class="input-popup-div2 cust_drop companies_list" style="display: none;">
                                <div class="title-5-new2 text-color-black-shade5 mb-4px">
                                    Vendor
                                </div>
                                <div class="title-18 text-right mb-2px d-none">Default</div>
                                <div (click)="handleFilterCompanyList('','')"  class="d-flex justify-content-between mb-5px list-item" >
                                    <div [ngClass]="this.selected_list_company != '' ? 'title-5-new33':'title-5-new33 text-color-black-shade7'" >
                                        All
                                    </div>
                                </div>
                                <ng-container *ngFor="let company of this.companies_list">

                                    <div (click)="handleFilterCompanyList(company?.id+ company.full_name, company?.company_name)" class="d-flex justify-content-between  mb-5px list-item" *ngIf="company?.id && company?.account_type=='Trucking Company'" >
                                        <div  *ngIf="company?.id && company?.account_type=='Trucking Company'" [ngClass]="this.selected_list_company.id == company.id ? 'title-5-new33 title-5-new33_active ':'title-5-new33 text-color-black-shade7'" >
                                            {{company?.company_name}}
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-4  mb-10 px-1">
                        <div class="position-relative inputdiv cur_p ">
                            <div class="title-12 text-black-shade">Fileter by Vendor</div>
                            <select class="myinput border-none p-0 pb-1 icon-none title-5-new6" (change)="this.handleFilterCompanyList($event, '')">
                                <option value="">Select</option>
                                <ng-container *ngFor="let company of this.companies_list">
                                    <option *ngIf="company?.id && company?.account_type=='Trucking Company'" [value]="company?.id+ company.full_name">{{company.account_type=='Driver'? company.full_name:company.company_name}}</option>
                                </ng-container>

                            </select>
                             <img src="../../assets/icons/drop_downn.svg" class="input-icon-right">
                        </div>
                    </div> -->


                </div>



                <!-- <div class="title-9 text-black-shade mb-14 text-center">Declined tickets - {{this.declined_date}} - [Qty {{this.declined_tickets_list?  this.declined_tickets_list?.length:0}}] </div>
                <div class="row mb-17">
                    <div class="col-lg-3 col-md-6  mb-10">
                        <div class="position-relative inputdiv">
                            <div class="title-12 text-black-shade">By Company</div>
                            <select class="myinput border-none p-0 pb-1 icon-none title-5-new6" (click)="handleFilterCompanyList($event)">
                                <option value="">All</option>
                                <ng-container *ngFor="let company of this.companies_list">
                                    <option *ngIf="company?.id && company?.account_type=='Trucking Company'" [value]="company?.id+ company.full_name">{{company.account_type=='Driver'? company.full_name:company.company_name}}</option>
                                </ng-container>


                            </select>
                            <img src="../../assets/icons/construction-icon.png" class="input-icon-right">
                        </div>
                    </div>
                </div> -->



                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table mytable">
                                <thead>
                                    <tr style=" background: rgba(253, 249, 217, 1); " >
                                        <th class="text-center" style=" width: 16%; " >Ticket ID</th>
                                        <th class="text-center" style=" width: 6%; ">Qty</th>
                                        <th class="text-center"style=" width: 10%; " >Dispatch date</th>
                                        <th class="text-center" style=" width: 14%; ">Vendor</th>
                                        <th class="text-left" style=" width: 14%; ">Driver</th>
                                        <th class="text-left" style=" width: 40%; ">Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="this.declined_tickets_list?.length>0">
                                        <ng-container *ngFor="let ticket of this.declined_tickets_list">
                                            <!-- (click)="setDetail(ticket)" data-toggle="modal" data-target="#myModal" -->
                                            <tr (click)="setDetail(ticket?.ticket)" data-toggle="modal" data-target="#myModal">
                                                <td>

                                                    <ng-container *ngIf="ticket?.rejected_tickets?.length>0">

                                                       <div class="btn_red">
                                                           {{this.getTicket(ticket?.rejected_tickets)}}

                                                       </div>
                                                    </ng-container>

                                                    <ng-container *ngIf="!ticket?.rejected_tickets">
                                                        <div class="btn_red">
                                                            {{ticket?.ticket?.ticket_no}}

                                                        </div>
                                                    </ng-container>
                                                </td>
                                                <td>{{ticket?.rejected_tickets?.length>0? ticket?.rejected_tickets?.length:1}}</td>
                                                <td>{{ticket?.ticket?.ticket_date}}</td>
                                                <td>
                                                    {{ticket?.dispatch_to ? ticket?.dispatch_to.company_name:(
                                                    ticket?.tickets_rejected && ticket?.tickets_rejected[0] && ticket?.tickets_rejected[0]?.dispatch_to?.company_name ? ticket?.tickets_rejected[0]?.dispatch_to?.company_name :  ticket?.tickets_rejected[0]?.dispatch_to?.full_name)}}
                                                </td>

                                                <td class="text-left">{{ticket?.ticket?.rejected_driver_ticket[0] && ticket?.ticket?.rejected_driver_ticket[0]?.driver? ticket?.ticket?.rejected_driver_ticket[0]?.driver?.full_name:''}}</td>

                                                <td class="text-left">{{ticket?.reason_declining? ticket?.reason_declining: (
                                                    ticket?.ticket?.reason_declining?
                                                        ticket?.ticket?.reason_declining
                                                        :
                                                        ticket?.ticket?.rejected_driver_ticket[0]?.rejection_reason
                                                    )}}
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="!this.declined_tickets_list">
                                        <tr>
                                            <td colspan="6">
                                                <b class="title-5 text-center">
                                                    No tickets found.
                                                </b>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-customer-ticket-popup [ticketDetail]="this.requestDetail"  [from_calendar]="true"></app-customer-ticket-popup>
