
<div class="wrapper">
    <app-dashboard-header></app-dashboard-header>
    <div id="content" >
        <app-dashboard-top-header></app-dashboard-top-header>
        <div class="body-content">
            <div class="main-content bg-white border-div">
                <div class="main-heading">Congratulations, you are all set.</div>
                <div class="welcome-desc pt-1">To continue using tragget, create new dispatch for you construction site, this dispatch will be sent to the trucking company.</div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="title-3 mb-15 text-center">Complete 4 steps to start.</div>
                        <div class="progress mb-38 ml-2 mb-8">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            </div>
                        </div>
                        <div class="title-3 text-grey-shade text-center mb-36">Step 4 of 4 is completed.</div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 pl-5">
                        <div class="d-flex align-items-center position-sticky mb-22">
                            <div class="">
                                <div class="dasborad-guid-content-div">
                                    <div class="d-flex">
                                        <img src="../../assets/icons/guide-truck.svg" width="10px">
                                        <div class="ml-2">Trucking companies/<br>brokers</div>
                                    </div>
                                </div>
                            </div>
                            <div class="dasborad-guid-div">
                                <div class="desc-1 text-color-grey ">
                                    The Trucking companies tab allows you to invite other Trucking companies and brokers you use to dispatch tickets.
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center position-sticky mb-22">
                            <div class="">
                                <div class="dasborad-guid-content-div">
                                    <div class="d-flex justify-content-between mb-10">
                                        <div class="dasborad-guid-title">Company name</div>
                                        <img src="../../assets/icons/arrow-up-black.svg" width="">
                                    </div>
                                    <div class="d-flex mb-10">
                                        <img src="../../assets/icons/setting.svg" width="10px">
                                        <div class="ml-2">Company settings</div>
                                    </div>
                                    <div class="d-flex mb-10">
                                        <img src="../../assets/icons/guide-truck.svg" width="10px">
                                        <div class="ml-2">Trucking companies/<br>brokers</div>
                                    </div>
                                    <div class="d-flex mb-10">
                                        <img src="../../assets/icons/icon-driver.svg" width="10px">
                                        <div class="ml-2">Drivers</div>
                                    </div>
                                    <div class="d-flex">
                                        <img src="../../assets/icons/project.svg" width="10px">
                                        <div class="ml-2">Projects</div>
                                    </div>
                                </div>
                            </div>
                            <div class="dasborad-guid-div">
                                <div class="desc-1 text-color-grey ">
                                    Drivers tab on the left, you have listed all your drivers to who you can assign jobs to drive.
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center position-sticky mb-22">
                            <div class="">
                                <div class="dasborad-guid-content-div">
                                    <div class="d-flex justify-content-between mb-10">
                                        <div class="dasborad-guid-title">Company name</div>
                                        <img src="../../assets/icons/arrow-up-black.svg" width="">
                                    </div>
                                    <div class="d-flex">
                                        <img src="../../assets/icons/setting.svg" width="10px">
                                        <div class="ml-2">Company settings</div>
                                    </div>
                                </div>
                            </div>
                            <div class="dasborad-guid-div">
                                <div class="desc-1 text-color-grey ">
                                    Under the Company settings, you can manage trucks. You can enter all the truck and trailer info from license plate to box capacities.
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center position-sticky mb-22">
                            <div class="">
                                <div class="dasborad-guid-content-div">
                                    <div class="d-flex justify-content-between mb-10">
                                        <div class="dasborad-guid-title">Company name</div>
                                        <img src="../../assets/icons/arrow-up-black.svg" width="">
                                    </div>
                                    <div class="d-flex">
                                        <img src="../../assets/icons/setting.svg" width="10px">
                                        <div class="ml-2">Company settings</div>
                                    </div>
                                </div>
                            </div>
                            <div class="dasborad-guid-div">
                                <div class="desc-1 text-color-grey ">
                                    DispatchProX users, who you want to have an access to company account, and roles they have, you can always add and edit from the Company settings.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class=" col-md-5 ">
                        <div class="position-relative hover-tip">
                            <div class="dashbord-guide active" data-toggle="modal" data-target="#invitePeople">
                                <div class="dashbord-guide-icon">
                                    <img src="../../assets/icons/mail.svg" width="28px">
                                </div>
                                <div class="dashbord-guide-content">
                                    <div class="title-3">Invite trucking company</div>
                                </div>
                            </div>
                            <div class="mytip">
                                Tip: create your projects. You can track all your truck use per project. You can set what kind of trucks you use and define what kind of jobs you need them.
                            </div>
                        </div>
                        <div class="position-relative hover-tip">
                            <div class="dashbord-guide active" data-toggle="modal" data-target="#adddriver">
                                <div class=" dashbord-guide-icon ">
                                    <img src="../../assets/icons//person.svg" width="28px">
                                </div>
                                <div class="dashbord-guide-content ">
                                    <div class="title-3">Drivers</div>
                                </div>
                            </div>
                            <div class="mytip ">
                                Tip: create your projects. You can track all your truck use per project. You can set what kind of trucks you use and define what kind of jobs you need them.
                            </div>
                        </div>
                        <div class="position-relative hover-tip ">
                            <div class="dashbord-guide active" data-toggle="modal" data-target="#newTruck">
                                <div class="dashbord-guide-icon ">
                                    <img src="../../assets/icons/truck-white.svg" width="28px">
                                </div>
                                <div class="dashbord-guide-content ">
                                    <div class="title-3">Truck details</div>
                                </div>
                            </div>
                            <div class="mytip ">
                                Tip: create your projects. You can track all your truck use per project. You can set what kind of trucks you use and define what kind of jobs you need them.
                            </div>
                        </div>
                        <div class="position-relative hover-tip ">
                            <div class="dashbord-guide active" data-toggle="modal" data-target="#newusers">
                                <div class="dashbord-guide-icon ">
                                    <img src="../../assets/icons/2-user.svg" width="28px">
                                </div>
                                <div class="dashbord-guide-content ">
                                    <div class="title-3">User</div>
                                </div>
                            </div>
                            <div class="mytip ">
                                Tip: create your projects. You can track all your truck use per project. You can set what kind of trucks you use and define what kind of jobs you need them.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" align="center">
                        <button class="mybtn bg-medium-blue text-white width-fit-content" [routerLink]="'/dashboard'">Got to Dashboard</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>