<app-dashboard-top-header-driver *ngIf="!this.from_list" [is_dashboard]="false" [header_text]="'Request'"></app-dashboard-top-header-driver>
<div class="bg-white">

    <div class="" *ngIf="!loading_details && (!this.ticket_detail || !this.ticket_detail?.id)">
        <div class="d-flex justify-content-center mb-23" *ngIf="!this.from_list">
            Tickets details not found
        </div>
    </div>
    
    <div class="" *ngIf="loading_details && (!this.ticket_detail || !this.ticket_detail?.id)">
        <div class="d-flex justify-content-center mb-23" *ngIf="!this.from_list">
           <h4>
            Fetching details...
           </h4>
        </div>
    </div>
    <div class="" *ngIf="this.ticket_detail && this.ticket_detail?.id">
        <div class="d-flex justify-content-center border-div mb-23">
            <div class="title-72">Ticket ID</div>
            <div class="title-82 ml-7">{{this.ticket_detail?.ticket?.ticket_no}}</div>
        </div>
        <ul style="margin-left:1px;padding-left: 15px;"  class="nav d-flex align-items-center justify-content-center  nav-tabs justify-content-between ticket-tabs mb-36 ">
            <li class=" btn-details {{this.active_tab=='ticket-detail'? 'active':''}}">
                <a data-toggle="tab" href="#ticketdetails" (click)="setActiveTab('ticket-detail')">
                    <img src="../assets/driver-images-mobile/confirmation_number.svg" alt="">
                    <div class="ml-17 font-size-18 font-semibold text-black">Ticket details</div>
                </a>
            </li>
            <li class="btn-details {{this.active_tab=='rounds-detail'? 'active':''}}" style="margin-right:0.5rem">
                <a data-toggle="tab" href="#jobdetails" (click)="setActiveTab('rounds-detail')">
                    <img src="../assets/driver-images-mobile/restart_alt.svg" alt="">
                    <div class="ml-17 font-size-18 font-semibold text-black">Job details</div>
                </a>
            </li>
        </ul>
    
    
        <div class="tab-content">
            <div id="ticketdetails" class="tab-pane fade show  {{this.active_tab=='ticket-detail'? 'in active':''}}">
                <div class="">
                    <div  class="ticket-datetime mb-14 " style="background-color: #ececec;
                    border-radius: 10px;color: #68696D;">
                        {{ getFormattedDate(this.time_conversion(this.ticket_detail, 1).convertedDate ) | date:'dd MMM, yyyy' }} -- {{this.time_conversion(this.ticket_detail, 1).convertedTime }}
                        <!-- {{this.ticket_detail?.ticket?.ticket_date | date:'EEEE d'}} -- {{this.ticket_detail?.ticket?.ticket_time }} -->
                    </div>
                    <div class="ticket-datetime mb-14  bg-yellow2" (click)="moveToStatus(this.more_tickets?.ticket?.status, this.more_tickets?.id)" *ngIf="this.more_tickets && this.more_tickets?.id">
                          {{this.more_tickets?.ticket?.ticket_date | date:'EEEE d'}} -- {{this.more_tickets?.ticket?.ticket_time }}
                    </div>
    
                    <div class="title-9 text-center mb-10 mt-2">Job</div>
                    <div class="border-div">
                        
                        <div class="title-9 text-center  text-black-shade3 min-height-65px">
                            <div class="label-regular mb-5px">
                                Construction site - Project - Job number
                            </div>
                           <div class="mb-10px ">
                            {{this.ticket_detail?.ticket?.user?.company_name}} - {{this.ticket_detail?.ticket?.project?.project_name}} - {{this.ticket_detail?.ticket?.project?.job_number}}
                           </div> 
                        </div>
                        <div class="myhr"></div>
                        <div class="custom-padding15 min-height-65px">
                            <div class="row ">
                            
                                <div class="col-6 br-1px p-left">
                                    <div class="title-7 mb-5px ">
                                        Approver
                                    </div>
                                    <div class="title-5 text-left">
                                        <span class="red-circle" *ngIf="this.notification_type && this.notification_type=='Approver Changed'"></span>  {{this.ticket_detail?.ticket?.approver?.full_name}} 
                                    </div>
                                </div>
                            
                                <div class="col-6  text-right p-right">
                                    <div class="title-7 mb-5px" >Rounds</div>
                            
                                    <div class="title-5 ">
                                        {{this.ticket_detail?.ticket?.ticket_truck_type_rounds?.length}}
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="myhr"></div>
                        <div class=" title-desc custom-padding15 min-height-65px">
                            {{this.ticket_detail?.ticket?.description}}
                        </div>
                    </div>
    
                </div>
                <br/>
                <div class="hr-dash mb-16"></div>
                <div class="">
                    <div class="title-9 mb-11" align="center">Trucking Company</div>
                   
                    <div class="border-div">
                        <div class="custom-padding15 min-height-65px">
                            <div class="row ">
                                <div class="col-6 p-left br-1px">
                                    <div class="title-7 mb-5px">Company name</div>
                                    <div class="title-5 text-left">
                                        {{this.ticket_detail?.trucking_company?.company_name}}
                                      </div>
                                </div>
                              
                                <div class="col-6 p-right  text-right">
                                    <div class="title-7 mb-5px">Hour rate</div>
                                    <div class="title-5">
                                        <div class="border-pink float-right" style="border-radius: 5px;
                                        text-align: right;
                                        width: 90px;">
                                            ${{this.ticket_detail?.rate_per_hour}}/hr
                                        </div> 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="myhr"></div>
                        <div class="custom-padding15 min-height-65px">
                            <div class="row">
                                <div class="p-left col-6 text-left br-1px">

                                    <div class="title-7 mb-5px">Dispatcher</div>
                                
                                    <div class="title-5 text-left">
                                        {{this.ticket_detail?.trucking_company?.full_name}} 
                                      </div>
                                </div>
                            
                               
                                <div class="p-right col-6 text-right">
                                    <div class="title-7 mb-5px">Phone number</div>
                                    <div class="title-5 text-right">
                                        {{this.ticket_detail?.trucking_company?.contact_number}}
                                    </div>
                                </div>
                           
                               
                            </div>
                        </div>
                        <div class="myhr"></div>
                        <div class="row min-height-65px">
                            <div class=" col-6 text-left ">
                                <div class="title-7  mt-1 mb-5px">Paper ticket ID</div>
                                <div class="title-5 mt-1 text-left">
                                    {{this.ticket_detail?.ticket?.required_paper_ticket_id ? this.ticket_detail?.ticket?.required_paper_ticket_id : 'No' }}
                                </div>
                            </div>
                            <div class="p-right col-6  d-flex justify-content-center align-items-center">
                                
                                <div class="">
                                    <img src="../assets/driver-images-mobile/camera-pink.svg" class="" width="43px" >
                                    
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <br/>
                    <div class="row mb-46">
                        <div class="col-6 pr-1">
                            <div class="border-div p-0">
                                <div class=" custom-padding15 min-height-65px">
                                    <div class="title-8 text-black-shade3 mt-1 mb-5px">Truck name</div>
                                    <div class="title-9 text-black-shade4">{{this.ticket_detail?.truck?.truck_nickname
                                    }}</div>
                                </div>
                                <div class="myhr"></div>
                                <div class=" custom-padding15 min-height-65px">
                                    <div class="title-8 text-black-shade3 mt-1 mb-5px">Type</div>
                                    <div class="title-9 text-black-shade4">{{this.ticket_detail?.truck?.truck_type
                                    }}</div>
                                </div>
                                <div class="myhr"></div>
                                <div class=" custom-padding15 min-height-65px">
                                    <div class="title-8 text-black-shade3  mt-1 mb-5px">License plate</div>
                                    <div class="title-9 text-black-shade4">{{this.ticket_detail?.truck?.truck_license_plate
                                    }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pl-1">
                            <div class="border-div text-right p-0">
                                <div class=" custom-padding15 min-height-65px">
                                    <div class="title-8 text-black-shade3  mt-1 mb-5px">Trailer name</div>
                                    <div class="title-9 text-black-shade4">{{this.ticket_detail?.trailer?.trailer_nickname
                                    }}</div>
                                </div>
                                <div class="myhr"></div>
                                <div class=" custom-padding15 min-height-65px">
                                    <div class="title-8 text-black-shade3  mt-1 mb-5px">Type</div>
                                    <div class="title-9 text-black-shade4">{{this.ticket_detail?.trailer?.trailer_type
                                    }}</div>
                                </div>
                                <div class="myhr"></div>
                                <div class=" custom-padding15 min-height-65px">
                                    <div class="title-8 text-black-shade3  mt-1 mb-5px">License plate</div>
                                    <div class="title-9 text-black-shade4">{{this.ticket_detail?.trailer?.trailer_license_plate
                                    }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/> <br/>  <br/> <br/> <br/> <br/>
                    <div *ngIf="this.ticket_detail?.ticket?.status !='Cancelled'" class="d-flex justify-content-center align-items-center buttons-div fix-button">
                        <div class=""><button type="button" class="btn-decline"   (click)="handleDecline(this.ticket_detail.ticket)">Decline <img src="../assets/driver-images-mobile/close.png" alt="" class="ml-5px" ></button></div>
                        <div class=""><button type="button" class="btn-accept ml-46" (click)="handleAcceptTicket(this.ticket_detail)">Accept <img src="../assets/driver-images-mobile/Done.png" alt="" class="ml-5px"></button></div>
                    </div>
    
                    <!-- <div *ngIf="this.ticket_detail?.ticket?.status !='Cancelled'" class="button-container r fix-button">
                        <button type="button" class="btn-decline" (click)="handleDecline(this.ticket_detail.ticket)">
                            Decline Job <img src="../assets/driver-images-mobile/close.png" alt="" class="ml-3">
                        </button>
                        <button type="button" class="btn-accept">
                            Accept <img src="../assets/driver-images-mobile/Done.png" alt="" class="ml-5px">
                        </button>
                    </div> -->
                    <br>
                    <!-- <div align="center" [ngClass]="this.from_list?'':'fix-button'"   class="d-flex justify-content-center align-items-center fix-button" >
                        
                        <button type="button" class="btn bg-pink dflex-btn width-200 mb-28 ml-4" *ngIf="!this.loading_start" (click)="handleStartJob()">Start Job <img src="../assets/driver-images-mobile/restart_alt.png" alt="" class="mr--10">
                            
                        </button>
                        <button type="button" class="btn bg-pink width-200 dflex-btn mb-28  ml-4" *ngIf="this.loading_start" disabled>
                            Starting...                        
                        </button>
                        
                        <button type="button" class="btn bg-pink width-200 dflex-btn  ml-4"  (click)="handleDecline(this.ticket_detail.ticket)">Decline Job <img src="../assets/icons/cross-black.svg" alt="" class="mr--10"></button>
                    </div> -->
                </div>
               
    
            </div>

            <div id="jobdetails" class="tab-pane fade show {{this.active_tab=='rounds-detail'? ' in active':''}}" >
                
                <ng-container *ngIf="this.ticket_detail?.ticket?.ticket_truck_type_rounds && this.ticket_detail?.ticket?.ticket_truck_type_rounds.length<1">
                    <div class="ticket-datetime mb-15px  bg-white bg-no-round">
                        Start time {{this.ticket_detail?.ticket?.ticket_time }}
                    </div>
                    <textarea class="form-control br-10 mb-22 min-h-100 grey-18-font-normal font-size-17" style="color: #68696D;" rows="2" placeholder="Description" readonly>{{this.ticket_detail?.ticket?.description}}</textarea>
                    <div class="hr-dash mt-3 mb-3"></div>
                </ng-container>
    
                <ng-container *ngFor="let round of this.ticket_detail?.ticket?.ticket_truck_type_rounds;let i=index">
                    <div class="round-container mb-15px">
                        <div class="round-top">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="round-no-div black-17-font-bold">
                                    Round {{round.round_no}}
                                </div>

                                <div class="d-flex align-content" *ngIf="this.detail_round != round?.id" (click)="setRound(round?.id)">
                                    <div class="grey-18-font-normal text-underline">
                                        View details 
                                    </div>
                                    <img class="ml-1" src="assets/driver-images-mobile/round-detail-up.svg">
                                </div>
                                <div class="d-flex align-content" *ngIf="this.detail_round && this.detail_round == round?.id" (click)="unsetRound()">
                                    <div class="d-flex align-content">
                                        <div class="grey-18-font-normal text-underline">
                                            Hide details 
                                        </div>
                                        <img class="ml-1" src="assets/driver-images-mobile/round-detail-down.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="round-content" *ngIf="this.detail_round != round?.id">
                         
                            <div class="custom-padding15" (click)="setRound(round?.id)">
                                <div class="row mb-5px min-height-65px">
                                    <div class="col-6 br-1px">

                                        <div class="title-7 mb-5px">Material out</div>
                                        <div class="title-5 text-left">
                                            {{round.material_taken_out}}
                                          </div>
                                    </div>
                                    <div class="col-6">

                                        <div class="title-7  mb-5px text-right">Dump site</div>
                                        <div class="title-5  text-right">
                                               {{round.dump_site}}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="round-content-detailed" *ngIf="this.detail_round == round?.id && this.detail_round">
                            <div class="custom-padding15">
                                <div class="row min-height-65px">
                                    <div class="col-12">

                                        <div class="title-7 mb-5px">Pickup site</div>
                                
                                        <div class="title-5 mb-5px text-left">
                                            {{this.ticket_detail?.ticket?.project?.project_location}}
                                          </div>
                                    </div>
                                </div>
                                <div class="myhr mb-5px"></div>
                                <div class="row min-height-65px">
                                    <div class="col-6 br-1px">

                                        <div class="title-7 mb-5px">Material out</div>
                                        <div class="title-5 mb-5px text-left">
                                            {{round.material_taken_out}}
                                          </div>
                                    </div>
                                    <div class="col-6">

                                        <div class="title-7  mb-5px text-right">Dump site</div>
                                        <div class="title-5  text-right">
                                               {{round.dump_site}}
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="myhr mb-5px"></div>
                                <div class="row min-height-65px">
                                    <div class="col-12 ">

                                        <div class="title-7 mb-5px">Round notes</div>
                                        <div class="title-5 mb-5px text-left">
                                            {{round.round_notes}}
                                          </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="hr-dash mt-3 mb-3" *ngIf="this.ticket_detail?.ticket?.ticket_truck_type_rounds?.length!=(i+1)"></div>
                </ng-container>          
                <br/> <br/>         <br/> <br/>
                <div *ngIf="this.ticket_detail?.ticket?.status !='Cancelled' " class="d-flex justify-content-center align-items-center fix-button">
                    <!-- data-toggle="modal" data-target="#declineModal" -->
                    <div class=""><button type="button" class="btn-decline" (click)="handleDecline(this.ticket_detail.ticket)" >Decline <img src="../assets/driver-images-mobile/close.png" alt="" class="ml-5px"  ></button></div>
                    <div class=""><button type="button" class="btn-accept ml-46" (click)="handleAcceptTicket(this.ticket_detail)">Accept <img src="../assets/driver-images-mobile/Done.png" alt="" class="ml-5px"></button></div>
                </div>
    
    
            </div>
        </div>
    
    </div>
    
</div>

<div class="modal fade show" id="declineModal" role="dialog" 
*ngIf="!this.show_reason && this.ticket_to_decline && this.ticket_to_decline?.id!='' && this.ticket_to_decline !=null" style="display: block;padding-top: 0%;background: #0000005c;"
>
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-padding">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title-20-semibold  text-center mb-15px">Declining job</div>
                    <div class="title-20-semibold font-size-18 mb-19 text-center">Are you sure that you want to decline this job?</div>
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- data-toggle="modal" data-target="#declinereasonModal" -->
                        <div class=""><button type="button" class="btn-accept btn-padding" (click)="getReason(this.ticket_to_decline)"
                            >Yes</button></div>

                        <div class=" ml-46"><button type="button"  (click)="cancelDecline()" class="btn-decline btn-padding">No</button></div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="declinereasonModal" role="dialog"  *ngIf="this.show_reason && this.ticket_to_decline && this.ticket_to_decline?.id!='' && this.ticket_to_decline !=null" style="display: block;padding-top: 0%;background: #0000002c;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-padding">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title-11 mb-15px text-center">Reason for declining the job?</div>
                    <span class="text-danger" *ngIf="reason_error!=''">{{reason_error}}</span>
                    <textarea class="form-control br-10 mb-15px" rows="3" placeholder="Type here.." (change)="setReason($event)"></textarea>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class=""><button type="button"  (click)="cancelDecline()"  class="btn-decline  btn-padding">Cancel</button></div>
                        <div class=""><button type="button" *ngIf="!loading_reject" class="btn-accept ml-46 btn-padding" (click)="declineHandler()" >Decline</button></div>
                        <div class=""><button type="button" *ngIf="loading_reject" class="btn-accept ml-46 btn-padding" disabled>Processing..</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>