<div *ngIf="this.current_modal && this.current_modal != 'add_userr' && this.current_modal != 'tc_add_userr'"   class="modal modal-open fade  come-from-modal right show" id="invitePeople" style="display: block;padding-right: 17px;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog max-width-50px" role="document">
        <div class="modal-content modal-bg-white border-15px ">
            <div class="modal-body p-25px" >

                <div class="row align-items-center justify-content-center mb-50">
                    <div class="" style="width: 282px; height: 187px;" >
                        <img [src]="'assets/icons/cust-tcinv2.svg'" class="img ">
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-25px">
                    <div>

                        <div class=" justify-content-between ">
                            <div class="title-0 ml-15px">Invite trucking company / broker </div>

                        </div>
                    </div>
                </div>

                <form [formGroup]="inviteTCForm" (ngSubmit)="onInviteTC()" enctype="multipart/form-data" class="mt-15px">

                            <span *ngIf="inviteTCcompany_nameError != ''" class="text-danger">{{
                                inviteTCcompany_nameError
                            }}</span>
                            <label class="field text-field required_field">
                                <input class="field__input" placeholder="Enter" value="" formControlName="company_name">
                                <span class="field__label-wrap">
                                <span class="field__label">Company name</span>
                                </span>
                            </label>
                        <br>
                            <span *ngIf="inviteTCfull_nameError != ''" class="text-danger">{{
                                inviteTCfull_nameError
                            }}</span>
                            <label class="field text-field required_field">
                                <input class="field__input" placeholder="Enter" value="" formControlName="full_name">
                                <span class="field__label-wrap">
                                <span class="field__label">Contact person: Full name</span>
                                </span>
                            </label>
                        <br>

                    <span *ngIf="inviteTCEmailError != ''" class="text-danger">{{
                        inviteTCEmailError
                    }}</span>
                    <label class="field text-field required_field">
                        <input class="field__input"  type="email" placeholder="example@mail.com" formControlName="email">
                        <span class="field__label-wrap">
                        <span class="field__label">Email</span>
                        </span>
                    </label>

                    <div class="row m-0 mt-25px justify-content-center ">
                        <div class="col-md-5 px-0 pr-2">
                            <button class="btn-back goto-dashboard-setup-1" (click)="showModal('')">Back</button>
                        </div>
                        <div class="col-md-5 px-0 pl-2">
                            <button class="mybtn mybtnn2 mybtn-back-yellow " type="submit" *ngIf="!is_loading">Send invite</button>
                            <button class="mybtn mybtnn2 mybtn-back-yellow " type="button" *ngIf="is_loading" disabled >Processing..</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div *ngIf="this.current_modal && this.current_modal === 'add_userr'"
     class="modal fade show show2 d-flex align-items-center" id="invitePeople2"
     style="display: block; padding-right: 17px;" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog2  modal-dialog-centered modal-dialog-centered2 modal-dialog-right" role="document">
        <div class="modal-content modal-bg-white">
            <div class="modal-body p-25px" >

                <div class="row align-items-center justify-content-center">
                    <div class="" style="width: 180px; height: 110px;" >
                        <img [src]="'assets/images/logo-svg.svg'" class="img ">
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-25px">
                    <div>

                        <div class=" justify-content-between ">
                            <div class="title-0 ml-15px">Invite employee/user</div>

                        </div>
                    </div>
                </div>

                <form [formGroup]="addUserForm" (ngSubmit)="onSaveUser()" enctype="multipart/form-data" class="mt-15px">

                    <span *ngIf="userfull_nameError != ''" class="text-danger">{{
                        userfull_nameError
                    }}</span>
                    <label class="field text-field required_field">
                        <input class="field__input" placeholder="Enter" value="" formControlName="full_name">
                        <span class="field__label-wrap">
                        <span class="field__label">Full name</span>
                        </span>
                    </label>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <span *ngIf="userEmailError != ''" class="text-danger">{{
                                userEmailError
                            }}</span>
                            <label class="field text-field required_field">
                                <input class="field__input"  type="email" placeholder="example@mail.com" formControlName="email">
                                <span class="field__label-wrap">
                                <span class="field__label">Email</span>
                                </span>
                            </label>
                        </div>
                        <div class="col-6">
                            <span *ngIf="userContactNumberError != ''" class="text-danger">{{
                                userContactNumberError
                            }}</span>
                            <label class="field text-field required_field">
                                <input class="field__input"  placeholder="(---) --- ----" formControlName="contact_number" (input)="changeNumber($event)">
                                <span class="field__label-wrap">
                                <span class="field__label">Phone number</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 " style="margin-top: -19px !important;" >
                        <span *ngIf="userRoleIDError''" class="text-danger">{{
                            userRoleIDError
                        }}</span>
                        <div class="form-group position-relative">
                            <label class="field text-field"> </label>
                            <select class="form-control icon-none mb-33 myinput2 select-no-icon pb-0" formControlName="role_id">
                                <option value="3" >Admin</option>
                                <option value="2">Approver</option>
                                <option value="4">Dispatcher</option>
                                <option value="5">Superintendent</option>
                            </select>
                            <i class="fa fa-caret-down select-icon-right" aria-hidden="true"></i>
                            <span class="field__labell" >User role</span>
                        </div>
                    </div>

                    <div class="row mt-25px justify-content-center " style="margin-top: 50px !important;" >
                        <div class="col-md-5 px-0 pr-2">
                            <button class="btn-back goto-dashboard-setup-1 float-right" (click)="showModal('')">Back</button>
                        </div>
                        <div class="col-md-5 px-0 pl-2">
                            <button class="mybtn mybtnn2 mybtn-back-yellow  float-left" type="submit" *ngIf="!is_loading">Send invite</button>
                            <button class="mybtn mybtnn2 mybtn-back-yellow  float-left" type="button" *ngIf="is_loading" disabled >Processing..</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div *ngIf="this.current_modal && this.current_modal === 'tc_add_userr'"
     class="modal fade show show2 d-flex align-items-center" id="invitePeople3"
     style="display: block; padding-right: 17px;" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog2  modal-dialog-centered modal-dialog-centered2 modal-dialog-right" role="document">
        <div class="modal-content modal-bg-white">
            <div class="modal-body p-25px " >

                <div class="row align-items-center justify-content-center">
                    <div class="" style="width: 180px; height: 110px;" >
                        <img [src]="'assets/images/logo-svg.svg'" class="img ">
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-25px">
                    <div>

                        <div class=" justify-content-between ">
                            <div class="title-0 ml-15px">Invite employee/user</div>

                        </div>
                    </div>
                </div>

                <form [formGroup]="addUserFormTc" (ngSubmit)="onSaveUserTc()" enctype="multipart/form-data" class="mt-15px">

                    <span *ngIf="userfull_nameError != ''" class="text-danger">{{
                        userfull_nameError
                    }}</span>
                    <label class="field text-field required_field">
                        <input class="field__input" placeholder="Enter" value="" formControlName="full_name">
                        <span class="field__label-wrap">
                        <span class="field__label">Full name</span>
                        </span>
                    </label>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <span *ngIf="userEmailError != ''" class="text-danger">{{
                                userEmailError
                            }}</span>
                            <label class="field text-field required_field">
                                <input class="field__input"  type="email" placeholder="example@mail.com" formControlName="email">
                                <span class="field__label-wrap">
                                <span class="field__label">Email</span>
                                </span>
                            </label>
                        </div>
                        <div class="col-6">
                            <span *ngIf="userContactNumberError != ''" class="text-danger">{{
                                userContactNumberError
                            }}</span>
                            <label class="field text-field required_field">
                                <input class="field__input"  placeholder="(---) --- ----" formControlName="contact_number" (input)="changeNumberTc($event)">
                                <span class="field__label-wrap">
                                <span class="field__label">Phone number</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 " style="margin-top: -19px !important;" >
                        <span *ngIf="userRoleIDError''" class="text-danger">{{
                            userRoleIDError
                        }}</span>

                        <div class="form-group form-group3">
                            <label class="field text-field mb-0" (click)="toggleDropdown()">Role(s)</label>
                            <div class="input-field input-field3 " (click)="toggleDropdown()">
                              <ng-container *ngFor="let role of selectedRoles; let i = index">
                                <span *ngIf="i < 2">{{ role }}{{i < selectedRoles.length - 1 && i < 1 ? ', ' : ''}}</span>
                            </ng-container>
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>

                            <div *ngIf="showDropdown" class=" dropdown-menu3">
                                <div class="heading-5-400 color_blur mb-2">User role</div>
                                <div *ngFor="let role of roles" class="checkbox-container">
                                    <div class="fake-checkbox" [ngClass]="{'checked': role.selected}" (click)="updateSelectedRoles(role.id)">
                                        {{ role.selected ? '✓' : '' }}
                                    </div>
                                    <div style=" color: rgba(136, 137, 139, 1); " (click)="updateSelectedRoles(role.id)">{{ role.name }}</div>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="mybtn-back-blue2 fakeOk text-white " (click)="closeDropdown()">OK</button>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="row mt-25px justify-content-center " style="margin-top: 50px !important;" >
                        <div class="col-md-5 px-0 pr-2">
                            <button class="btn-back btn-back_tc tc-backbutton goto-dashboard-setup-1" (click)="showModal('')">Back</button>
                        </div>
                        <div class="col-md-5 px-0 pl-2">
                            <button class="mybtn mybtnn2 mybtn-back-blue2 text-white " type="submit" *ngIf="!is_loading">Send invite</button>
                            <button class="mybtn mybtnn2 mybtn-back-blue2 text-white " type="button" *ngIf="is_loading" disabled >Processing..</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
